<!DOCTYPE html>
<html>
<head>
    <title>newspage</title>
    <!--Style Sheets!--> 
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="footercss.css">
    <link href="bootstrap.css" rel="stylesheet">
    <script src="bootstrap.js" defer></script>
    
     <!--Google Fonts!-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
    
    
    
    
    
    <!--Libries!-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    
    
    
    <!--Icon Packs!-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    
    </head>
    
    <body>
        <nav>
        
        <div class="favtext">
        <a href="Indexx.html"> <img src="image/Hnet.com-image%20(1).png">
            </a>
            </div>
        <div class="nav-links">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Top NEWS</a></li>
            <li><a href="">Local NEWS</a></li>
            <li><a href="">Foreign NEWS</a></li>
            <li><a href="">Sport NEWS </a></li>
            <li><a href=""><i class="far fa-user"></i> Login/Sign-up </a></li>
        </ul>
		</div>
        </nav>
        <br>
        <br>
        <br>
        
        
        <section class="topnews">
        
        <h1>Local News</h1>
        <br>
        <section class="mainnew">
           <div class="news-col">
           
           
           <div class="image-cover">
           
           <img src="Picture8.jpg">
               
               <h3>EXPATRIATE GROUP REFUSES TO PROVIDE DOLLARS TO SRI LANKA</h3>
           
               </div>
           
           <br>
           'Sri Lankan Expats for Change,' a group created by Sri Lankan expatriates headquartered in Milan, Italy, said today that they have chosen to stop sending money to Sri Lanka as a protest against corrupt politicians who have dominated the country in the past and presently.<br><br>
"It is general known that the economic crisis in Sri Lanka was not caused by a reduction in the tourism sector or a decrease in the amount of money remitted by Lankans living abroad." It is the current rulers who have caused our family back home to endure in lengthy lines and to remain in the dark. The crooked politicians who run the country now, as well as those who reigned in the past, have squandered and looted our blood.<br><br>
As a result, we, the Lankan expatriates overseas, have chosen not to send any funds to Sri Lanka until a corrupt-free administration is created," declared Sri Lankan Expatriates for Change in a statement."It's amusing to notice that they're blaming the country's current condition on falling tourist dependence and expatriate remittances." It was their incapacity to take decisive action to address Sri Lanka's economic catastrophe. "It is the government's responsibility to take substantial and tangible steps to remedy the situation," the statement continued.<br><br>
"Many countries have successfully stabilized their economies following the pandemic, and it is totally unacceptable to blame the pandemic and the Ukraine-Russia war for the current perilous economic crisis in Sri Lanka," the statement said, referring to the President's address to the nation on Wednesday. Yohan Perera (Yohan Perera)

</p>
               <div class="blog-meta">
                                    <p class="adc"><i class="far fa-user"></i> Joshua  
                                    <i class="far fa-calendar-alt"></i>Thursday, March 10, 2022, 12:26 p.m.  
                                    <i class="far fa-comments"></i> 5 </p>
                                </div>
               <div class="rt-container">
          <div class="col-rt-12">
              <div class="Scriptcontent">
              
<!-- partial:index.partial.html -->
<section id="app">
    <div class="container11">
      <div class="row11">
        <div class="col-6">
          <div class="comment">
        <p v-for="items in item" v-text="items"></p>
          </div><!--End Comment-->
          </div><!--End col -->
          </div><!-- End row -->
      <div class="row">
        <div class="col-6">
            <form method="post" action="">
      <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
          <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
                </form>
        </div><!-- End col -->
      </div><!--End Row -->
    </div><!--End Container -->
  </section><!-- end App -->
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script  src="script.js"></script>
           
    		</div>
		</div>
    </div>

           </div> 
            
            
        </section>
        </section>

        <div class="ms-3 row container-fluid mb-3">
            <div class="col-xxl-3">
                
                <a class="link" href="">
                    
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">INCREASE TRAIN SERVICES IN RESPONSE TO INCREASED PASSENGER DEMAND: STATION MASTERS'</p>
                    </div>
                    <img src="Picture4.jpg" class="card-img-top" alt="...">
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                
                <a class="link" href="">
                    
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center"> IN SINGAPORE, A SRI LANKAN WAS RECOGNIZED FOR HALTING AN ARMED ATTACKER</p>
                    </div>
                    <img src="Picture7.png" class="card-img-top" alt="...">
                    </a>
                    </div>
            </div>
            <div class="col-lg-3">
                <a class="link" href="">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">IN 2021, NSB EARNS THE GREATEST PROFIT OF RS. 22 BILLION.</p>
                    </div>
                    <img src="Picture8.jpg" class="card-img-top" alt="...">
                </a>
                    </div>
            </div>
            
            <div class="col-lg-3">
                <a class="link" href="">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">HEALTH EXPERTS WARN OF AN INCREASE IN CASES RELATED TO PROTESTS AHEAD OF THE HOLIDAY SEASON.</p>
                    </div>
                    <img src="Picture4.jpg" class="card-img-top" alt="...">
                    </a>
                    </div>
            </div>

        </div>



        
        
        
        
        
        <section class="pageswitch">
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="Page01.html">1</a>
            <a  href="Page02.html">2</a>
            <a href="Page03.html">3</a>
            <a href="Page04.html">4</a>
            <a href="Page05.html">5</a>
            <a href="Page06.html">6</a>
            <a class="active" href="#">7</a>
            <a href="Page08.html">8</a>
            <a href="Page09.html">9</a>
            <a href="Page10.html">10</a>
            <
            <a href="#">&raquo;</a>
            </div>
            
        </section>
        <br>
        <br>
        <br>
        
        <section class="footer">
    <footer class="footerf">
  	 <div class="containerf">
  	 	<div class="rowf">
  	 		<div class="footer-column">
  	 			<h4>About Us</h4>
  	 			<p>
            All the worlds news to be notified and read in one place. Our mission is to give you the best and true information to read in one place. It is light and easy to read
          </p>
  	 		</div>
  	 		<div class="footer-column">
  	 			<h4>Quick Links</h4>
  	 			<ul>
  	 				<li><a href="#">Home</a></li>
  	 				<li><a href="#">Top News</a></li>
  	 				<li><a href="#">Local News</a></li>
  	 				<li><a href="#">Foreign News</a></li>
           			<li><a href="#">Sports News</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-column">
  	 			<h4>Legal</h4>
  	 			<ul>
  	 				<li><a href="#">Privacy Policy</a></li>
  	 				<li><a href="#">Terms of Service </a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-column">
  	 			<h4>follow us</h4>
  	 			<div class="social-links">
  	 				<a href="#"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
  </footer>

    </section>
        
    </body>
</html>
    
