<!DOCTYPE html>
<html>
<head>
    <title>newspage</title>
    <!--Style Sheets!--> 
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="footercss.css">
    <link href="bootstrap.css" rel="stylesheet">
    <script src="bootstrap.js" defer></script>
    
     <!--Google Fonts!-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
    
    
    
    
    
    <!--Libries!-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    
    
    
    <!--Icon Packs!-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    
    </head>
    
    <body>
        <nav>
        
        <div class="favtext">
        <a href="Indexx.html"> <img src="image/Hnet.com-image%20(1).png">
            </a>
            </div>
        <div class="nav-links">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Top NEWS</a></li>
            <li><a href="">Local NEWS</a></li>
            <li><a href="">Foreign NEWS</a></li>
            <li><a href="">Sport NEWS </a></li>
            <li><a href=""><i class="far fa-user"></i> Login/Sign-up </a></li>
        </ul>
		</div>
        </nav>
        <br>
        <br>
        <br>
        
        
        <section class="topnews">
        
        <h1>Local News</h1>
        <br>
        <section class="mainnew">
           <div class="news-col">
           
           
           <div class="image-cover">
           
           <img src="Picture12.jpg">
               
               <h3>PARLIAMENT IS ENRAGED AT BASIL'S ABSENCE</h3>
           
               </div>
           
           <br>
           <p>As the opposition claimed that Finance Minister Basil Rajapaksa has not made a statement in Parliament on the state of the Sri Lankan economy since December 10 last year, Speaker Mahinda Yapa Abeywardene said he has no right to compel any Minister to make a statement in the House because there are provisions for taking disciplinary action against an MP who fails to attend sessions for three months.<br><br>
The Speaker made the comment after Chief Opposition Whip Lakshman Kiriella said that Minister Rajapaksa had not been in Parliament for three months to make a speech on the national economy. "Sri Lanka has become bankrupt, and the Finance Minister has not made a single statement before the House in three months." It's March 10th, and he hasn't made a comment in three months. As a result, we propose that the speaker direct the Finance Minister to appear and make a statement," Mr. Kiriella stated.<br><br>
"Sri Lanka has become bankrupt, and the Finance Minister has not made a single statement before the House in three months." It's March 10th, and he hasn't made a comment in three months. As a result, we propose that the speaker direct the Finance Minister to appear and make a statement," Mr. Kiriella stated.<br><br>
"House Leader Dinesh Gunawardene stated that what the Chief Opposition Whip is stating is false since the State Minister has addressed all queries posed by the opposition on behalf of the Finance Minister." "Almost every day, Mr. Kiriella makes the same argument," he stated.<br><br>

According to Chief Government Whip Johnston Fernando, all remarks made by Basil Rajapaksa outside of Parliament have been considered in the House.<br><br>
According to SJB MP Nalin Bandara, it is difficult to understand why Mr. Rajapaksa cannot appear in Parliament and answer questions while the Ukrainian President addresses that country's parliament despite the war situation.<br><br>

At the moment, heated debates occurred between government and opposition MPs, who were shouting at each other. Yohan Perera and Ajith Siriwardana (Yohan Perera and Ajith Siriwardana)
</p>
               <div class="blog-meta">
                                    <p class="adc"><i class="far fa-user"></i> Joshua  
                                    <i class="far fa-calendar-alt"></i>Thursday, March 10, 2022, 12:26 p.m.  
                                    <i class="far fa-comments"></i> 5 </p>
                                </div>
               <div class="rt-container">
          <div class="col-rt-12">
              <div class="Scriptcontent">
              
<!-- partial:index.partial.html -->
<section id="app">
    <div class="container11">
      <div class="row11">
        <div class="col-6">
          <div class="comment">
        <p v-for="items in item" v-text="items"></p>
          </div><!--End Comment-->
          </div><!--End col -->
          </div><!-- End row -->
      <div class="row">
        <div class="col-6">
            <form method="post" action="">
      <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
          <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
                </form>
        </div><!-- End col -->
      </div><!--End Row -->
    </div><!--End Container -->
  </section><!-- end App -->
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script  src="script.js"></script>
           
    		</div>
		</div>
    </div>

           </div> 
            
            
        </section>
        </section>

        <div class="ms-3 row container-fluid mb-3">
            <div class="col-xxl-3">
                
                <a class="link" href="">
                    
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">INCREASE TRAIN SERVICES IN RESPONSE TO INCREASED PASSENGER DEMAND: STATION MASTERS'</p>
                    </div>
                    <img src="Picture2.jpg" class="card-img-top" alt="...">
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                
                <a class="link" href="">
                    
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center"> IN SINGAPORE, A SRI LANKAN WAS RECOGNIZED FOR HALTING AN ARMED ATTACKER</p>
                    </div>
                    <img src="Picture7.png" class="card-img-top" alt="...">
                    </a>
                    </div>
            </div>
            <div class="col-lg-3">
                <a class="link" href="">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">IN 2021, NSB EARNS THE GREATEST PROFIT OF RS. 22 BILLION.</p>
                    </div>
                    <img src="Picture6.jpg" class="card-img-top" alt="...">
                </a>
                    </div>
            </div>
            
            <div class="col-lg-3">
                <a class="link" href="">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">HEALTH EXPERTS WARN OF AN INCREASE IN CASES RELATED TO PROTESTS AHEAD OF THE HOLIDAY SEASON.</p>
                    </div>
                    <img src="Picture4.jpg" class="card-img-top" alt="...">
                    </a>
                    </div>
            </div>

        </div>



        
        
        
        
        
        <section class="pageswitch">
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="Page01.html">1</a>
            <a  href="Page02.html">2</a>
            <a href="Page03.html">3</a>
            <a href="Page04.html">4</a>
            <a href="Page05.html">5</a>
            <a href="Page06.html">6</a>
            <a href="Page07.html">7</a>
            <a href="Page08.html">8</a>
            <a href="#">9</a>
            <a class="active" href="#">10</a>
            <a href="#">&raquo;</a>
            </div>
            

        </section>
        <br>
        <br>
        <br>
        
        <section class="footer">
    <footer class="footerf">
  	 <div class="containerf">
  	 	<div class="rowf">
  	 		<div class="footer-column">
  	 			<h4>About Us</h4>
  	 			<p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
          </p>
  	 		</div>
  	 		<div class="footer-column">
  	 			<h4>Quick Links</h4>
  	 			<ul>
  	 				<li><a href="#">Home</a></li>
  	 				<li><a href="#">Top News</a></li>
  	 				<li><a href="#">Local News</a></li>
  	 				<li><a href="#">Foreign News</a></li>
           			<li><a href="#">Sports News</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-column">
  	 			<h4>Legal</h4>
  	 			<ul>
  	 				<li><a href="#">Privacy Policy</a></li>
  	 				<li><a href="#">Terms of Service </a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-column">
  	 			<h4>follow us</h4>
  	 			<div class="social-links">
  	 				<a href="#"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
  </footer>

    </section>
        
    </body>
</html>
    
