<!DOCTYPE html>
<html>
<head>
    <title>News Page 05</title>
    <!--Style Sheets!--> 
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="footercss.css">
    <link href="bootstrap.css" rel="stylesheet">
    <script src="bootstrap.js" defer></script>
    
     <!--Google Fonts!-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
    
    
    
    
    
    <!--Libries!-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    
    
    
    <!--Icon Packs!-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    
    </head>
    
    <body>
        <nav>
        
        <div class="favtext">
        <a href="Indexx.html"> <img src="image/Hnet.com-image%20(1).png">
            </a>
            </div>
        <div class="nav-links">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Top NEWS</a></li>
            <li><a href="">Local NEWS</a></li>
            <li><a href="">Foreign NEWS</a></li>
            <li><a href="">Sport NEWS </a></li>
            <li><a href=""><i class="far fa-user"></i> Login/Sign-up </a></li>
        </ul>
		</div>
        </nav>
        <br>
        <br>
        <br>
        
        
        <section class="topnews">
        
        <h1>Local News</h1>
        <br>
        <section class="mainnew">
           <div class="news-col">
           
           
           <div class="image-cover">
           
           <img src="Picture5.jpg">
               
               <h3>SRI LANKA HAS SIGNED A USD 1 BILLION CREDIT LINE WITH INDIA</h3>
           
               </div>
           
           <br>
           <p>In the midst of the island nation's deepening economic crisis, Sri Lanka negotiated a USD 1 billion credit line with India on Thursday for the purchase of food, medicines, and other necessities.<br><br>
During Sri Lankan Finance Minister Basil Rajapaksha's two-day visit to India, the agreement was signed between the State Bank of India (SBI) and the Government of Sri Lanka.<br><br>
This agreement was struck today in New Delhi after Rajapaksa met with Union Finance Minister Nirmala Sitharaman and External Affairs Minister S Jaishankar. The Ministers talked on a variety of areas of mutual interest and economic cooperation.<br><br>
The signature of the loan facility comes a day after Rajapaksa met with Prime Minister Modi on Wednesday and praised him for his assistance for the Sri Lankan economy.<br><br>
PM Modi emphasized the importance of Sri Lanka in India's 'Neighborhood First' strategy and its S.A.G.A.R (Security and Growth for All in the Region) concept. Modi emphasized India's commitment to the friendly people of the neighboring countries.<br><br>
Sri Lanka's national currency has been severely depreciated against major foreign currencies, in addition to catastrophic fuel and gas shortages and regular power outages.<br><br>
As Sri Lanka suffers a serious economic crisis, India has continued to support its neighboring nation in combating the COVID-19 outbreak and mitigating its negative consequences.<br><br>
More than USD 500 million in foreign currency swaps were supplied by India to enhance Sri Lanka's foreign reserves, bringing the total to USD 900 million. Under the Asian Clearance Arbitration, India also extended the payback period for Sri Lanka's USD 500 million debt.<br><br>
Jaishankar, who advocates India's "neighborhood first" policy, stated that India stands with Sri Lanka.
"The neighborhood comes first. India supports Sri Lanka. A credit line of USD 1 billion has been arranged for the delivery of vital commodities. A key component of India's assistance package, "Jaishankar sent a tweet. (ANI)

</p>
               <div class="blog-meta">
                                    <p class="adc"><i class="far fa-user"></i> Joshua  
                                    <i class="far fa-calendar-alt"></i>Thursday, March 10, 2022, 12:26 p.m.  
                                    <i class="far fa-comments"></i> 5 </p>
                                </div>
               <div class="rt-container">
          <div class="col-rt-12">
              <div class="Scriptcontent">
              
<!-- partial:index.partial.html -->
<section id="app">
    <div class="container11">
      <div class="row11">
        <div class="col-6">
          <div class="comment">
        <p v-for="items in item" v-text="items"></p>
          </div><!--End Comment-->
          </div><!--End col -->
          </div><!-- End row -->
      <div class="row">
        <div class="col-6">
            <form method="post" action="">
      <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
          <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
                </form>
        </div><!-- End col -->
      </div><!--End Row -->
    </div><!--End Container -->
  </section><!-- end App -->
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script  src="script.js"></script>
           
    		</div>
		</div>
    </div>

           </div> 
            
            
        </section>
        </section>

        <div class="ms-3 row container-fluid mb-3">
            <div class="col-xxl-3">
                
                <a class="link" href="">
                    
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">INCREASE TRAIN SERVICES IN RESPONSE TO INCREASED PASSENGER DEMAND: STATION MASTERS'</p>
                    </div>
                    <img src="Picture4.jpg" class="card-img-top" alt="...">
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                
                <a class="link" href="">
                    
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center"> IN SINGAPORE, A SRI LANKAN WAS RECOGNIZED FOR HALTING AN ARMED ATTACKER</p>
                    </div>
                    <img src="Picture7.png" class="card-img-top" alt="...">
                    </a>
                    </div>
            </div>
            <div class="col-lg-3">
                <a class="link" href="">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">IN 2021, NSB EARNS THE GREATEST PROFIT OF RS. 22 BILLION.</p>
                    </div>
                    <img src="Picture6.jpg" class="card-img-top" alt="...">
                </a>
                    </div>
            </div>
            
            <div class="col-lg-3">
                <a class="link" href="">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">HEALTH EXPERTS WARN OF AN INCREASE IN CASES RELATED TO PROTESTS AHEAD OF THE HOLIDAY SEASON.</p>
                    </div>
                    <img src="Picture8.jpg" class="card-img-top" alt="...">
                    </a>
                    </div>
            </div>

        </div>



        
        
        
        
        
        <section class="pageswitch">
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="Page01.html">1</a>
            <a  href="Page02.html">2</a>
            <a href="Page03.html">3</a>
            <a href="Page04.html">4</a>
            <a class="active" href="#">5</a>
            <a href="Page06.html">6</a>
            <a href="Page07.html">7</a>
            <a href="Page08.html">8</a>
            <a href="Page09.html">9</a>
            <a href="Page10.html">10</a>
            <a href="#">&raquo;</a>
            </div>
            

        </section>
        <br>
        <br>
        <br>
        
        <section class="footer">
    <footer class="footerf">
  	 <div class="containerf">
  	 	<div class="rowf">
  	 		<div class="footer-column">
  	 			<h4>About Us</h4>
  	 			<p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
          </p>
  	 		</div>
  	 		<div class="footer-column">
  	 			<h4>Quick Links</h4>
  	 			<ul>
  	 				<li><a href="#">Home</a></li>
  	 				<li><a href="#">Top News</a></li>
  	 				<li><a href="#">Local News</a></li>
  	 				<li><a href="#">Foreign News</a></li>
           			<li><a href="#">Sports News</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-column">
  	 			<h4>Legal</h4>
  	 			<ul>
  	 				<li><a href="#">Privacy Policy</a></li>
  	 				<li><a href="#">Terms of Service </a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-column">
  	 			<h4>follow us</h4>
  	 			<div class="social-links">
  	 				<a href="#"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
  </footer>

    </section>
        
    </body>
</html>
    
