<!DOCTYPE html>
<html>
<head>
    <title>newspage</title>
    <!--Style Sheets!--> 
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="footercss.css">
    <link href="bootstrap.css" rel="stylesheet">
    <script src="bootstrap.js" defer></script>
    
     <!--Google Fonts!-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
    
    
    
    
    
    <!--Libries!-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    
    
    
    <!--Icon Packs!-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    
    </head>
    
    <body>
        <nav>
        
        <div class="favtext">
        <a href="Indexx.html"> <img src="image/Hnet.com-image%20(1).png">
            </a>
            </div>
        <div class="nav-links">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Top News</a></li>
            <li><a href="">Local News</a></li>
            <li><a href="">Foreign News</a></li>
            <li><a href="">Sport News </a></li>
            <li><a href="Login_and_signup/login.html"><i class="far fa-user"></i> Login/Sign-up </a></li>
        </ul>
		</div>
        </nav>
        <br>
        <br>
        <br>
        
        
        <section class="topnews">
        
        <h1>Foreign News</h1>
        <br>
        <section class="mainnew">
           <div class="news-col">
           
           
           <div class="image-cover">
           
           <img src="F1.jpg">
               
               <h3>UKRAINE TO BE BUILT BACK UP USING RUSSIAN MONEY, SAYS BANK CHIEF</h3>
           
               </div>
           
           <br>
           <p>The governor of Ukraine's Central Bank told the BBC that frozen Russian assets should be utilized to rebuild Ukraine after the war.

Kyrylo Shevchenko proposed a long list of further restrictions, ranging from halting card payments to denying Russia access to the IMF.

Every day that sanctions are postponed, he added in an interview, "is costing the lives of civilians and children."<br>

He only responded to inquiries given via email for security reasons.
Mr. Shevchenko, the governor of Ukraine's National Bank, believes that Russia should be made to pay for the harm it inflicted during the invasion.

He told the BBC “The need for money will be huge, It could be fulfilled through loans and grants from multinational organisations and direct help from other countries. However a large share of financing is needed to be obtained as a reparation from the aggressor, including funds that are currently frozen in our allied countries.” 
Much of Russia's $630 billion in foreign exchange reserves is believed to be stored outside the nation, essentially blocked by sanctions imposed by the United States, the European Union, and other countries.
If Ukraine is able to access the funds once the war is finished, billions of dollars will be available for reconstruction.<br>


Major penalties
Mr. Shevchenko applauded the international community's financial penalties, but stated that the world should go far further. He urged nations, institutions, and businesses to apply a comprehensive list of new financial restrictions that would hit every aspect of Russia's economy.<br>

               <b>He made the following request:</b><br><br>

•	Russian and Belarusian clients will lose access to trading and financial data platforms Refinitiv and Bloomberg.<br>

•	The United States and the European Union will advise its banks to terminate correspondent relationships with Russian banks.<br>

•	The Bank for International Settlements, an organization of central banks, has decided to expel Russia's central bank.<br>

•	The International Monetary Fund will expel Russia and Belarus from its meetings and deny them access to IMF assets known as Special Drawing Rights, "as these funds may be used to finance military action against our country." according to the IMF.<br>

•	Payment cards issued by Russian banks will no longer be serviced by China's UnionPay card payment system (which is identical to Mastercard and Visa).<br>

•	The Russian payment system will be blocked by Armenia, Kazakhstan, Kyrgyzstan, Tajikistan, Turkey, and Vietnam, according to Mir.<br>
•	Western Union, an international money transfer company, will stop delivering funds to Russian and Belarusian banks.<br><br>


Mr Shevchenko said “We already see the effect [of sanctions] on the aggressor’s financial system, but we are still waiting for more to be done. I would like to underline that every day that sanctions are delayed is costing the lives of civilians and children,” <br>

“These are the lives of Ukrainians who have chosen the European way and are now defending not only their own country, but also the entire system of values that lies at the core of the Western civilization.”

Payment cards issued by Russian banks will no longer be serviced by China's UnionPay card payment system (which is identical to Mastercard and Visa).

The Russian payment system will be blocked by Armenia, Kazakhstan, Kyrgyzstan, Tajikistan, Turkey, and Vietnam, according to Mir.
Western Union, an international money transfer company, will stop delivering funds to Russian and Belarusian banks.<br>



What the Ukraine's version of Andrew Bailey's evidence shows is that in this conflict, they are leaving no stone unturned in their pursuit of the Russian banking system.<br>

Even though Mr. Shevchenko's staff strives to keep cash flowing in the Ukrainian financial system and to the country's millions of refugees, and even sets his country's monetary policy from a bunker, every cash route into the "aggressor" has been discovered.

The International Monetary Fund, the Bank for International Settlements, Western Union, Chinese credit card payment systems, and former Soviet countries' use of Russia's payment system are all targets of Kyiv's lobbying to put unprecedented pressure on Russia's financial system.<br>

Above all, the G7-agreed targeting of Russia's Central Bank has depleted the country's foreign exchange reserves and reduced the rouble's value.<br>

I inquired if he was concerned about the precedent that was being created here for institutions that are ordinarily granted sovereign immunity. He takes a breath. "I can answer from the bottom of my heart. We see that the Central Bank of Russia supports military invasion and thus is also guilty, responsible in deaths of civilians in Ukraine".<br>


<b>Donations</b><br>

Mr Shevchenko told the BBC that almost 11 billion hryvnia ($350 million, £280 million) has been paid into two special accounts set up by the National Bank of Ukraine to receive donations for the military and humanitarian needs.

On February 24, a military account was established to receive foreign and local donations in a variety of currencies.

On March 1, a similar account was established for humanitarian purposes.

The problems of halting Russian energy purchases have been a source of contention for Western countries. While the money Moscow gets for oil and gas exports is a lifeline, European countries have determined that, for the time being, they can't live without Russian supplies.<br>

"Today, we can see that Russia is exploiting its energy resources capacities to put economic pressure on Europe," Mr Shevchenko added. Energy is also one of the most popular topics in Russian news. They're using it to deceive the Russian population about the West's hesitation to take harder steps in the face of losing access to Russian oil and gas.<br>

“We realise how difficult this decision is for our Western partners. We understand the cost of such a step. But we must work together to find and use all possible tools to stop the killing and the suffering that Russia is increasingly causing in Ukraine.”<br>


Mr. Shevchenko also discussed the difficulties of maintaining the country's financial system during a conflict.<br>

His crew is working around the clock, he claimed, with many taking refuge in underground bunkers to avoid shelling.<br>

However, he stated that electronic payments and ATMs were still operational, and that cash was being distributed to all locations except active fighting zones.<br>

“I can proudly say that Ukrainian banking system remains stable and liquid even under martial law.”<br>

“This is extremely difficult time for every Ukrainian - for the people and the country,” he said. “The National Bank of Ukraine is doing everything in its power to support Ukraine, its defenders, and the population affected by Russian aggression.”

</p>
               <div class="blog-meta">
                                    <p class="adc"><i class="far fa-user"></i>Ben King(Business reporter, BBC News)

                                    <i class="far fa-calendar-alt"></i>  17-Mar-2022 
                                    <i class="far fa-comments"></i>  5 </p>
                                </div>
               <div class="rt-container">
          <div class="col-rt-12">
              <div class="Scriptcontent">
              
<!-- partial:index.partial.html -->
<section id="app">
    <div class="container11">
      <div class="row11">
        <div class="col-6">
          <div class="comment">
        <p v-for="items in item" v-text="items"></p>
          </div><!--End Comment-->
          </div><!--End col -->
          </div><!-- End row -->
      <div class="row">
        <div class="col-6">
            <form method="post" action="">
      <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
          <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
                </form>
        </div><!-- End col -->
      </div><!--End Row -->
    </div><!--End Container -->
  </section><!-- end App -->
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script  src="script.js"></script>
           
    		</div>
		</div>
    </div>

           </div> 
            
            
        </section>
        </section>

        <div class="ms-3 row container-fluid mb-3">
            <div class="col-xxl-3">
                
                <a class="link" href="F10.html">
                    
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">COVID DEATHS PROBABLY THREE TIMES HIGHER THAN RECORDS SAY</p>
                    </div>
                    <img src="t1.jpg" class="card-img-top" alt="...">
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                
                <a class="link" href="F9.html">
                    
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">KARNATAKA BANDH: SHOULD COURTS DECIDE IF HIJAB IS ESSENTIAL IN ISLAM?</p>
                    </div>
                    <img src="t2.png" class="card-img-top" alt="...">
                    </a>
                    </div>
            </div>
            <div class="col-lg-3">
                <a class="link" href="F8.html">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">UKRAINE WAR: RUSSIA ATTACKS THEATRE SHELTERING CIVILIANS, MARIUPOL SAYS</p>
                    </div>
                    <img src="t3.jpg" class="card-img-top" alt="...">
                </a>
                    </div>
            </div>
            
            <div class="col-lg-3">
                <a class="link" href="F7.html">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">NORTH KOREA FIRES MISSILE BUT LAUNCH FAILS, SAYS SOUTH</p>
                    </div>
                    <img src="t4.png" class="card-img-top" alt="...">
                    </a>
                    </div>
            </div>

        </div>



        
        
        
        
        
        <section class="pageswitch">
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a class="active" href="F1.html">1</a>
            <a  href="F2.html">2</a>
            <a href="F3.html">3</a>
            <a href="F4.html">4</a>
            <a href="F5.html">5</a>
            <a href="F6.html">6</a>
            <a href="F7.html">7</a>
            <a href="F8.html">8</a>
            <a href="F9.html">9</a>
            <a href="F10.html">10</a>
            <a href="#">&raquo;</a>
            </div>
            

        </section>
        <br>
        <br>
        <br>
        
        <section class="footer">
    <footer class="footerf">
  	 <div class="containerf">
  	 	<div class="rowf">
  	 		<div class="footer-column">
  	 			<h4>About Us</h4>
  	 			<p>
            All the worlds news to be notified and read in one place. Our mission is to give you the best and true information to read in one place.
          </p>
  	 		</div>
  	 		<div class="footer-column">
  	 			<h4>Quick Links</h4>
  	 			<ul>
  	 				<li><a href="#">Home</a></li>
  	 				<li><a href="#">Top News</a></li>
  	 				<li><a href="#">Local News</a></li>
  	 				<li><a href="#">Foreign News</a></li>
            <li><a href="#">Sports News</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-column">
  	 			<h4>Legal</h4>
  	 			<ul>
  	 				<li><a href="privacypolicy.html">Privacy Policy</a></li>
  	 				<li><a href="Terms.html">Terms of Service </a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-column">
  	 			<h4>follow us</h4>
  	 			<div class="social-links">
  	 				<a href="#"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
  </footer>

    </section>
        
    </body>
</html>
    
