<!DOCTYPE html>
<html>
<head>
    <title>newspage</title>
    <!--Style Sheets!--> 
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="footercss.css">
    <link href="bootstrap.css" rel="stylesheet">
    <script src="bootstrap.js" defer></script>
    
     <!--Google Fonts!-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
    
    
    
    
    
    <!--Libries!-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    
    
    
    <!--Icon Packs!-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    
    </head>
    
    <body>
        <nav>
        
        <div class="favtext">
        <a href="Indexx.html"> <img src="image/Hnet.com-image%20(1).png">
            </a>
            </div>
        <div class="nav-links">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Top News</a></li>
            <li><a href="">Local News</a></li>
            <li><a href="">Foreign News</a></li>
            <li><a href="">Sport News </a></li>
            <li><a href="Login_and_signup/login.html"><i class="far fa-user"></i> Login/Sign-up </a></li>
        </ul>
		</div>
        </nav>
        <br>
        <br>
        <br>
        
        
        <section class="topnews">
        
        <h1>Foreign News</h1>
        <br>
        <section class="mainnew">
           <div class="news-col">
           
           
           <div class="image-cover">
           
           <img src="F10.jpg">
               
               <h3>COVID DEATHS PROBABLY THREE TIMES HIGHER THAN RECORDS SAY</h3>
           
               </div>
           
           <br>
           <p>According to researchers, more than 18 million individuals have died as a result of Covid, which is three times greater than government figures imply.

The World Health Organization originally proclaimed the pandemic two years ago today, and their report arrives two years later.

The Covid-19 excess mortality team at Washington University in the United States looked at 191 countries and territories to find the "actual worldwide death figure."<br><br>

Some of the deaths were caused by the virus, while others were linked to it.

This is due to the possibility that catching Covid could exacerbate other pre-existing medical issues, such as heart or lung disease.

Excess fatalities is the metric used to determine how many more people have died than would be predicted in recent years, prior to the pandemic.
What is the status of Covid in various countries?
How new medications are finally bringing the virus under control
The researchers gathered data from numerous government websites, the World Mortality Database, the Human Mortality Database, and the European Statistical Office to arrive at this conclusion.

Excess deaths are thought to have varied substantially by country and location, but the study's total global rate of 120 deaths per 100,000 people was computed.<br><br>

That means about 18.2 million people died as a result of Covid in the two years between the start of 2020 and the end of 2021, more than three times the stated 5.9 million deaths.
Because of latencies and abnormalities in reporting of Covid death data that might substantially affect the estimates, the authors calculated excess death estimates for the entire research period, not by week or month.

The highest rates were found in lower-income nations in Latin America, Europe, and Sub-Saharan Africa, according to the study, which was published in The Lancet. However, other high-income countries, such as Italy and areas of the United States, have very high death rates.

In the UK, the anticipated total number of Covid-related deaths in 2020 and 2021 was around 173,000, with an excess mortality rate of 130 individuals per 100,000, similar to official figures.<br><br>

"Understanding the true mortality toll from the epidemic is crucial for effective public health decision-making," said lead author Dr Haidong Wang of the Institute for Health Metrics and Evaluation.
"Studies from a number of countries, including Sweden and the Netherlands, suggest that Covid was the direct cause of the majority of excess deaths, but we don't have adequate evidence in most cases."

"More research will be needed to determine how many fatalities were directly caused by Covid and how many were caused indirectly by the epidemic."

Vaccines and improved therapies, according to the researchers, will reduce excess mortality associated to the pandemic.

They do, however, warn that the pandemic is far from over. It's also possible that new, severe strains of the virus will emerge.


</p>
               <div class="blog-meta">
                                    <p class="adc"><i class="far fa-user"></i>Ben King(Business reporter, BBC News)

                                    <i class="far fa-calendar-alt"></i>  17-Mar-2022 
                                    <i class="far fa-comments"></i>  5 </p>
                                </div>
               <div class="rt-container">
          <div class="col-rt-12">
              <div class="Scriptcontent">
              
<!-- partial:index.partial.html -->
<section id="app">
    <div class="container11">
      <div class="row11">
        <div class="col-6">
          <div class="comment">
        <p v-for="items in item" v-text="items"></p>
          </div><!--End Comment-->
          </div><!--End col -->
          </div><!-- End row -->
      <div class="row">
        <div class="col-6">
            <form method="post" action="">
      <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
          <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
                </form>
        </div><!-- End col -->
      </div><!--End Row -->
    </div><!--End Container -->
  </section><!-- end App -->
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script  src="script.js"></script>
           
    		</div>
		</div>
    </div>

           </div> 
            
            
        </section>
        </section>

        <div class="ms-3 row container-fluid mb-3">
            <div class="col-xxl-3">
                
                <a class="link" href="F1.html">
                    
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">UKRAINE TO BE BUILT BACK UP USING RUSSIAN MONEY, SAYS BANK CHIEF</p>
                    </div>
                    <img src="t6.jpg" class="card-img-top" alt="...">
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                
                <a class="link" href="F2.html">
                    
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">PUTIN BRANDED A ‘WAR CRIMINAL’ BY BIDEN IN UKRAINE CONFLICT</p>
                    </div>
                    <img src="t7.png" class="card-img-top" alt="...">
                    </a>
                    </div>
            </div>
            <div class="col-lg-3">
                <a class="link" href="F3.html">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">TEXAS BUS COLLISION KILLS AT LEAST NINE INVOLVING STUDENT ATHLETES</p>
                    </div>
                    <img src="t8.jpg" class="card-img-top" alt="...">
                </a>
                    </div>
            </div>
            
            <div class="col-lg-3">
                <a class="link" href="F4.html">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">PENSIONER DETAINED AFTER MUTILATED BODY FOUND</p>
                    </div>
                    <img src="t9.png" class="card-img-top" alt="...">
                    </a>
                    </div>
            </div>

        </div>



        
        
        
        
        
        <section class="pageswitch">
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a  href="F1.html">1</a>
            <a  href="F2.html">2</a>
            <a href="F3.html">3</a>
            <a href="F4.html">4</a>
            <a href="F5.html">5</a>
            <a href="F6.html">6</a>
            <a href="F7.html">7</a>
            <a href="F8.html">8</a>
            <a href="F9.html">9</a>
            <a class="active" href="F10.html">10</a>
            <a href="#">&raquo;</a>
            </div>
            

        </section>
        <br>
        <br>
        <br>
        
        <section class="footer">
    <footer class="footerf">
  	 <div class="containerf">
  	 	<div class="rowf">
  	 		<div class="footer-column">
  	 			<h4>About Us</h4>
  	 			<p>
                        All the worlds news to be notified and read in one place. Our mission is to give you the best and true information to read in one place.
          </p>
  	 		</div>
  	 		<div class="footer-column">
  	 			<h4>Quick Links</h4>
  	 			<ul>
  	 				<li><a href="#">Home</a></li>
  	 				<li><a href="#">Top News</a></li>
  	 				<li><a href="#">Local News</a></li>
  	 				<li><a href="#">Foreign News</a></li>
            <li><a href="#">Sports News</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-column">
  	 			<h4>online shop</h4>
  	 			<ul>
  	 				<li><a href="privacypolicy.html">Privacy Policy</a></li>
  	 				<li><a href="Terms.html">Terms of Service </a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-column">
  	 			<h4>follow us</h4>
  	 			<div class="social-links">
  	 				<a href="#"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
  </footer>

    </section>
        
    </body>
</html>
    
