<!DOCTYPE html>
<html>
<head>
    <title>newspage</title>
    <!--Style Sheets!--> 
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="footercss.css">
    <link href="bootstrap.css" rel="stylesheet">
    <script src="bootstrap.js" defer></script>
    
     <!--Google Fonts!-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
    
    
    
    
    
    <!--Libries!-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    
    
    
    <!--Icon Packs!-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    
    </head>
    
    <body>
        <nav>
        
        <div class="favtext">
        <a href="Indexx.html"> <img src="image/Hnet.com-image%20(1).png">
            </a>
            </div>
        <div class="nav-links">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Top News</a></li>
            <li><a href="">Local News</a></li>
            <li><a href="">Foreign News</a></li>
            <li><a href="">Sport News </a></li>
            <li><a href="Login_and_signup/login.html"><i class="far fa-user"></i> Login/Sign-up </a></li>
        </ul>
		</div>
        </nav>
        <br>
        <br>
        <br>
        
        
        <section class="topnews">
        
        <h1>Foreign News</h1>
        <br>
        <section class="mainnew">
           <div class="news-col">
           
           
           <div class="image-cover">
           
           <img src="F2.png">
               
               <h3>PUTIN BRANDED A ‘WAR CRIMINAL’ BY BIDEN IN UKRAINE CONFLICT</h3>
           
               </div>
           
           <br>
           <p>President Joe Biden of the United States has called Russian President Vladimir Putin a "war criminal," escalating diplomatic tensions even further.

Mr. Biden made the statement in response to a query from a reporter at the White House.<br><br>

It's the first time he's used such strong words to criticize Putin, and the White House later stated that he was "speaking from his heart."

The Kremlin, on the other hand, called it "unforgiveable  rhetoric."

"We believe such rhetoric to be unacceptable and unforgivable on the part of the head of a state, whose bombs have killed hundreds of thousands of people around the world," spokesperson Dmitry Peskov told Tass, Russian state news outlet.<br><br>

" Mr President, after everything we have seen, are you ready to call Putin a war criminal?" a reporter asked the US president in Washington on Wednesday.

Before being challenged, the President said "no," then changed his mind and said:  "Did you ask me whether I would tell ....? Oh, I think he is a war criminal."<br><br>

After watching "barbaric" photographs of the carnage in Ukraine, White House Press Secretary Jen Psaki said stated the president was speaking from his heart rather than making an official statement.

She pointed out that there was a distinct legal process, overseen by the State Department, for determining war crimes, which was still underway.

"Putin is inflicting appalling devastation and horror on Ukraine - bombing apartment buildings and maternity wards... these are atrocities. It is an outrage to the world." The president's official Twitter account posted<br><br>

Diplomatic bridges between the US and Russia are being burned down one by one.

Mr. Biden's speech was unusual, but not out of character for a politician who is known for making major policy adjustments in seemingly off-the-cuff statements (see, for instance, his comments on gay marriage in 2012).

After telling a reporter that he did not believe Mr Putin was a criminal, he later changed his mind. If there had been any internal White House debate about how to deal with the rising calls in Congress and the press to condemn Mr Putin in this way, the president resolved it in an aside, not a major address.<br><br>

Of course, this will make it more difficult for Mr. Biden and his administration to deal with Russians in the future. On any topic, every concession or negotiated agreement will elicit the retort: "How can you associate with a criminal?"

Perhaps Mr. Biden's remarks were merely admitting the new reality: that the world's political system has irreversibly transformed, and there is no going back.<br><br>

It occurred after a tumultuous day of political theater in the United States and Russia over Ukraine.

Earlier, Ukrainian President Volodymyr Zelensky delivered a speech to the US Congress via video link, garnering a standing ovation. Mr Biden approved more arms aid for Ukraine a few hours later, raising the total US contribution to $1 billion (£760 million).<br><br>

On the opposite side of the globe, Russian President Vladimir Putin delivered a televised speech full with anti-Western vitriol.

He accused the West of lying in order to divide Russia, and he railed against individuals he referred to as "traitors" within Russia.

"Of course they will try to bet on the so-called fifth column, on traitors - on those who earn their money here, but live over there. Live, not in the geographical sense, but in the sense of their thoughts, their slavish thinking," Mr Putin said.<br><br>

The term "fifth column" is frequently used to describe a group that attempts to destabilize a country or organization from inside.

Mr Putin said "Any people, and especially the Russian people, will always be able to distinguish the true patriots from the scum and the traitors, and just to spit them out like a fly that accidentally flew into their mouths," He stated that such a "self-purification" of society will benefit Russia.<br><br>

Mr Putin also accused the West of attempting to instigate civil war with the purpose of " the destruction of Russia."

Some Russia watchers and journalists were alarmed by his remarks.

According to Tatiana Stanovaya, a political analyst, Mr Putin is instructing Russian authorities to target " all spheres of society that show any sympathy to the Western way of life."

Mr Putin " is intensifying his actions to destroy Russia" according to Mikhail Kasyanov, a former Russian Prime Minister who also worked in Mr Putin's first cabinet before becoming one of his harshest critics.

He is "essentially announcing the start of mass repressions against those who don't agree with the regime," Mr Kasyanov wrote. "This has happened in our history before, and not only ours."<br><br>


</p>
               <div class="blog-meta">
                                    <p class="adc"><i class="far fa-user"></i>Ben King(Business reporter, BBC News)

                                    <i class="far fa-calendar-alt"></i>  17-Mar-2022 
                                    <i class="far fa-comments"></i>  5 </p>
                                </div>
               <div class="rt-container">
          <div class="col-rt-12">
              <div class="Scriptcontent">
              
<!-- partial:index.partial.html -->
<section id="app">
    <div class="container11">
      <div class="row11">
        <div class="col-6">
          <div class="comment">
        <p v-for="items in item" v-text="items"></p>
          </div><!--End Comment-->
          </div><!--End col -->
          </div><!-- End row -->
      <div class="row">
        <div class="col-6">
            <form method="post" action="">
      <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
          <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
                </form>
        </div><!-- End col -->
      </div><!--End Row -->
    </div><!--End Container -->
  </section><!-- end App -->
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script  src="script.js"></script>
           
    		</div>
		</div>
    </div>

           </div> 
            
            
        </section>
        </section>

        <div class="ms-3 row container-fluid mb-3">
            <div class="col-xxl-3">
                
                <a class="link" href="F10.html">
                    
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">COVID DEATHS PROBABLY THREE TIMES HIGHER THAN RECORDS SAY</p>
                    </div>
                    <img src="t1.jpg" class="card-img-top" alt="...">
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                
                <a class="link" href="F9.html">
                    
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">KARNATAKA BANDH: SHOULD COURTS DECIDE IF HIJAB IS ESSENTIAL IN ISLAM?</p>
                    </div>
                    <img src="t2.png" class="card-img-top" alt="...">
                    </a>
                    </div>
            </div>
            <div class="col-lg-3">
                <a class="link" href="F8.html">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">UKRAINE WAR: RUSSIA ATTACKS THEATRE SHELTERING CIVILIANS, MARIUPOL SAYS</p>
                    </div>
                    <img src="t3.jpg" class="card-img-top" alt="...">
                </a>
                    </div>
            </div>
            
            <div class="col-lg-3">
                <a class="link" href="F7.html">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">NORTH KOREA FIRES MISSILE BUT LAUNCH FAILS, SAYS SOUTH</p>
                    </div>
                    <img src="t4.png" class="card-img-top" alt="...">
                    </a>
                    </div>
            </div>

        </div>



        
        
        
        
        
        <section class="pageswitch">
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="F1.html">1</a>
            <a  class="active" href="F2.html">2</a>
            <a href="F3.html">3</a>
            <a href="F4.html">4</a>
            <a href="F5.html">5</a>
            <a href="F6.html">6</a>
            <a href="F7.html">7</a>
            <a href="F8.html">8</a>
            <a href="F9.html">9</a>
            <a href="F10.html">10</a>
            <a href="#">&raquo;</a>
            </div>
            

        </section>
        <br>
        <br>
        <br>
        
        <section class="footer">
    <footer class="footerf">
  	 <div class="containerf">
  	 	<div class="rowf">
  	 		<div class="footer-column">
  	 			<h4>About Us</h4>
  	 			<p>
            All the worlds news to be notified and read in one place. Our mission is to give you the best and true information to read in one place.
          </p>
  	 		</div>
  	 		<div class="footer-column">
  	 			<h4>Quick Links</h4>
  	 			<ul>
  	 				<li><a href="#">Home</a></li>
  	 				<li><a href="#">Top News</a></li>
  	 				<li><a href="#">Local News</a></li>
  	 				<li><a href="#">Foreign News</a></li>
            <li><a href="#">Sports News</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-column">
  	 			<h4>Legal</h4>
  	 			<ul>
  	 				<li><a href="privacypolicy.html">Privacy Policy</a></li>
  	 				<li><a href="Terms.html">Terms of Service </a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-column">
  	 			<h4>follow us</h4>
  	 			<div class="social-links">
  	 				<a href="#"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
  </footer>

    </section>
        
    </body>
</html>
    
