<!DOCTYPE html>
<html>
<head>
    <title>newspage</title>
    <!--Style Sheets!--> 
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="footercss.css">
    <link href="bootstrap.css" rel="stylesheet">
    <script src="bootstrap.js" defer></script>
    
     <!--Google Fonts!-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
    
    
    
    
    
    <!--Libries!-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    
    
    
    <!--Icon Packs!-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    
    </head>
    
    <body>
        <nav>
        
        <div class="favtext">
        <a href="Indexx.html"> <img src="image/Hnet.com-image%20(1).png">
            </a>
            </div>
        <div class="nav-links">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Top News</a></li>
            <li><a href="">Local News</a></li>
            <li><a href="">Foreign News</a></li>
            <li><a href="">Sport News</a></li>
            <li><a href="Login_and_signup/login.html"><i class="far fa-user"></i> Login/Sign-up </a></li>
        </ul>
		</div>
        </nav>
        <br>
        <br>
        <br>
        
        
        <section class="topnews">
        
        <h1>Foreign News</h1>
        <br>
        <section class="mainnew">
           <div class="news-col">
           
           
           <div class="image-cover">
           
           <img src="F3.jpg">
               
               <h3>Texas Bus Collision Kills At least Nine Involving Student Athletes</h3>
           
               </div>
           
           <br>
           <p>A vehicle transporting members of a New Mexico university's golf team collided with a pickup truck in Texas, killing at least nine individuals, according to the school.

The bus involved in the fatal crash had nine passengers, including the team's coach, according to a statement from the University of the Southwest.

Two of the bus passengers are in critical condition.

The pickup's driver and passenger were also murdered.<br><br>


On Tuesday night, just after 20:00 local time, the automobiles crashed in Andrews County, west Texas (01:00 GMT).

"It's a pretty heartbreaking scene," Texas Department of Public Safety Sergeant Steven Blanco told local TV station KWES-TV. "It's a horrible situation."

Six pupils and a teaching member, as well as two persons in the truck, were slain, according to Mr Blanco.

Laci Stone, a freshman, was among those killed, according to her family on Facebook.<br><br>

Chelsi Stone, Laci's mother, wrote on Wednesday, "Our Laci is gone." "During her brief time on this planet, she has been an amazing beam of sunshine."

Laci was one of three siblings who grew up in Nocona, Texas. Laci, who was studying global business management at the time, stated in her team biography that she aspired to be a business owner after graduation.

"We will never be the same after this and we just don't understand how this happened," her mother wrote.<br><br>

Authorities stated the bus, a Ford Transit passenger van, was transporting members of both the men's and women's golf teams from a golf tournament. A Dodge 2500 pickup truck was the other car involved.

The Ford bus was traveling northbound on Texas' FM1788 highway, while the Dodge pickup was heading southward.

"For unknown reasons, the Dodge pickup- drove into the northbound lane and struck the Ford passenger van head-on," Mr Blanco said. "Both vehicles caught fire and burned."<br><br>

The golf teams were on their way back from a competition at Midland College, which is located around 300 miles (480 kilometers) west of Dallas.

The loss has left the university "shocked and heartbroken," according to a statement.

According to the report, two of the bus passengers are receiving medical treatment in Lubbock, Texas.

The collision has prompted an investigation, and the institution has stated that it is attempting to contact the victims' relatives.<br><br>

The University of the Southwest is a private Christian university in Hobbs, New Mexico, near the state's Texas border.

Following the incident, both New Mexico Governor Michelle Lujan Grisham and Texas Governor Greg Abbott extended their condolences.


</p>
               <div class="blog-meta">
                                    <p class="adc"><i class="far fa-user"></i>Ben King(Business reporter, BBC News)

                                    <i class="far fa-calendar-alt"></i>  17-Mar-2022 
                                    <i class="far fa-comments"></i>  5 </p>
                                </div>
               <div class="rt-container">
          <div class="col-rt-12">
              <div class="Scriptcontent">
              
<!-- partial:index.partial.html -->
<section id="app">
    <div class="container11">
      <div class="row11">
        <div class="col-6">
          <div class="comment">
        <p v-for="items in item" v-text="items"></p>
          </div><!--End Comment-->
          </div><!--End col -->
          </div><!-- End row -->
      <div class="row">
        <div class="col-6">
            <form method="post" action="">
      <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
          <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
                </form>
        </div><!-- End col -->
      </div><!--End Row -->
    </div><!--End Container -->
  </section><!-- end App -->
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script  src="script.js"></script>
           
    		</div>
		</div>
    </div>

           </div> 
            
            
        </section>
        </section>

        <div class="ms-3 row container-fluid mb-3">
            <div class="col-xxl-3">
                
                <a class="link" href="F10.jpg">
                    
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">COVID DEATHS PROBABLY THREE TIMES HIGHER THAN RECORDS SAY</p>
                    </div>
                    <img src="t1.jpg" class="card-img-top" alt="...">
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                
                <a class="link" href="F9.html">
                    
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">KARNATAKA BANDH: SHOULD COURTS DECIDE IF HIJAB IS ESSENTIAL IN ISLAM?</p>
                    </div>
                    <img src="t2.png" class="card-img-top" alt="...">
                    </a>
                    </div>
            </div>
            <div class="col-lg-3">
                <a class="link" href="F8.html">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">UKRAINE WAR: RUSSIA ATTACKS THEATRE SHELTERING CIVILIANS, MARIUPOL SAYS</p>
                    </div>
                    <img src="t3.jpg" class="card-img-top" alt="...">
                </a>
                    </div>
            </div>
            
            <div class="col-lg-3">
                <a class="link" href="F7.html">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">NORTH KOREA FIRES MISSILE BUT LAUNCH FAILS, SAYS SOUTH</p>
                    </div>
                    <img src="t4.png" class="card-img-top" alt="...">
                    </a>
                    </div>
            </div>

        </div>



        
        
        
        
        
        <section class="pageswitch">
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="F1.html">1</a>
            <a  href="F2.html">2</a>
            <a class="active" href="F3.html">3</a>
            <a href="F4.html">4</a>
            <a href="F5.html">5</a>
            <a href="F6.html">6</a>
            <a href="F7.html">7</a>
            <a href="F8.html">8</a>
            <a href="F9.html">9</a>
            <a href="F10.html">10</a>
            <a href="#">&raquo;</a>
            </div>
            

        </section>
        <br>
        <br>
        <br>
        
        <section class="footer">
    <footer class="footerf">
  	 <div class="containerf">
  	 	<div class="rowf">
  	 		<div class="footer-column">
  	 			<h4>About Us</h4>
  	 			<p>
            All the worlds news to be notified and read in one place. Our mission is to give you the best and true information to read in one place.
          </p>
  	 		</div>
  	 		<div class="footer-column">
  	 			<h4>Quick Links</h4>
  	 			<ul>
  	 				<li><a href="#">Home</a></li>
  	 				<li><a href="#">Top News</a></li>
  	 				<li><a href="#">Local News</a></li>
  	 				<li><a href="#">Foreign News</a></li>
            <li><a href="#">Sports News</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-column">
  	 			<h4>Legal</h4>
  	 			<ul>
  	 				<li><a href="privacypolicy.html">Privacy Policy</a></li>
  	 				<li><a href="Terms.html">Terms of Service </a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-column">
  	 			<h4>follow us</h4>
  	 			<div class="social-links">
  	 				<a href="#"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
  </footer>

    </section>
        
    </body>
</html>
    
