<!DOCTYPE html>
<html>
<head>
    <title>newspage</title>
    <!--Style Sheets!--> 
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="footercss.css">
    <link href="bootstrap.css" rel="stylesheet">
    <script src="bootstrap.js" defer></script>
    
     <!--Google Fonts!-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
    
    
    
    
    
    <!--Libries!-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    
    
    
    <!--Icon Packs!-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    
    </head>
    
    <body>
        <nav>
        
        <div class="favtext">
        <a href="Indexx.html"> <img src="image/Hnet.com-image%20(1).png">
            </a>
            </div>
        <div class="nav-links">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Top News</a></li>
            <li><a href="">Local News</a></li>
            <li><a href="">Foreign News</a></li>
            <li><a href="">Sport News </a></li>
            <li><a href="Login_and_signup/login.html"><i class="far fa-user"></i> Login/Sign-up </a></li>
        </ul>
		</div>
        </nav>
        <br>
        <br>
        <br>
        
        
        <section class="topnews">
        
        <h1>Foreign News</h1>
        <br>
        <section class="mainnew">
           <div class="news-col">
           
           
           <div class="image-cover">
           
           <img src="F5.jpg">
               
               <h3>NAZANIN ZAGHARI-RATCLIFFE RELATION TO UK TO IRAN DEBT</h3>
           
               </div>
           
           <br>
           <p>Nazanin Zaghari-Ratcliffe, a British-Iranian lady detained in Iran for over six years, has been released and is returning to the United Kingdom.

Her release, as well as that of another dual national, Anoosheh Ashoori, was tied to the UK paying Iran a multi-million pound debt stemming from a botched arms sale 40 years ago.<br><br>

<b>What was the amount of the debt?</b><br><br>
The Shah of Iran, a pro-Western monarch who ruled the country at the time, acquired 1,500 Chieftain tanks and 250 Armoured Recovery Vehicles from the United Kingdom in a deal worth an estimated £650 million in the 1970s.

International Military Services (IMS), a private business that was then a subsidiary of the Ministry of Defence, received the funds.

Before the Shah was toppled in the Islamic Revolution of 1979, just 185 of the tanks were transferred to the Iranian authorities.

Since then, the Iranian government has been attempting to recoup the funds for the tanks that were never delivered.<br><br>

               <b>What was Iran's response?</b><br>
Iran took IMS to the International Chamber of Commerce (ICC) in 1990, a global corporate organization that settles international trade issues.

A hearing in 2001 ruled in Iran's favor. IMS appealed, but promised to pay the court £328.5 million if its appeal was unsuccessful in 2002.

The appeal hearings were completed in 2009, and the verdict in Iran's favor was affirmed.

However, in June 2008, the European Union imposed sanctions on Iran, and IMS' payment to the Iranians was not released.<br><br>

<b>What has occurred since 2009?</b><br><br>

The UK government agreed it owed Iran for the tanks that were never delivered, but maintained it couldn't pay since Iran was still under economic sanctions.

There was also the issue of how much the United Kingdom owed Iran.

IMS's £328.5 million security payment in 2002 has sparked a lot of curiosity in the years thereafter. The United Kingdom and Iran disagreed on how much of this should be paid to Iran.<br><br>


<b>How is this connected to Nazanin Zaghari-Ratcliffe?</b><br><br>

The British-Iranian was arrested in April 2016 and has been held in custody for over six years for allegedly plotting against the Iranian government. Throughout this time, she protested her innocence.

Ms Zaghari-Ratcliffe claimed that her kidnappers told her that her detention was related to the UK's failure to pay its debt.

In 2021, Jeremy Hunt, the former foreign secretary, claimed that Iran was tying her case to the outstanding debt.

He stated, " "I believe they [Iran] are attempting to use this as leverage in order to settle the past debt for the Chieftain tanks. We categorically reject any relationship because we do not want to support hostage diplomacy and prefer to follow the legal procedures."<br><br>

The UK government, on the other hand, refused to acknowledge that her detention, or that of other dual nationals like retired engineer Anoosheh Ashoori, was linked to the money - "these are two wholly unrelated situations," Boris Johnson claimed in 2021.

What was the outcome of the agreement?
After months of talks between UK Foreign Secretary Liz Truss and her Iranian colleague, Ms Zaghari-Ratcliffe and Mr Ashoori have been released.

As part of the agreement, another dual national, Morad Tahbaz, was released on furlough from an Iranian prison.<br><Br>

Ms Truss declared that the UK has paid off the IMS debt "in parallel" with the release of the prisoners.

She told MPs that the government was able to make a payment of £393.8 million after "difficult" talks, and that the payment complied with existing sanctions, global counter-terrorism financing standards, and anti-money laundering legislation.<br><br>

Ms Truss stated that the contents of the agreement would be kept confidential, but that Iran could only use the monies for humanitarian purposes.<br><br>

</p>
               <div class="blog-meta">
                                    <p class="adc"><i class="far fa-user"></i>Ben King(Business reporter, BBC News)

                                    <i class="far fa-calendar-alt"></i>  17-Mar-2022 
                                    <i class="far fa-comments"></i>  5 </p>
                                </div>
               <div class="rt-container">
          <div class="col-rt-12">
              <div class="Scriptcontent">
              
<!-- partial:index.partial.html -->
<section id="app">
    <div class="container11">
      <div class="row11">
        <div class="col-6">
          <div class="comment">
        <p v-for="items in item" v-text="items"></p>
          </div><!--End Comment-->
          </div><!--End col -->
          </div><!-- End row -->
      <div class="row">
        <div class="col-6">
            
      <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
          <button v-on:click="addItem()" class='primaryContained float-right'>Add Comment</button>
                
        </div><!-- End col -->
      </div><!--End Row -->
    </div><!--End Container -->
  </section><!-- end App -->
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script  src="script.js"></script>
           
    		</div>
		</div>
    </div>

           </div> 
            
            
        </section>
        </section>

        <div class="ms-3 row container-fluid mb-3">
            <div class="col-xxl-3">
                
                <a class="link" href="F10.html">
                    
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">COVID DEATHS PROBABLY THREE TIMES HIGHER THAN RECORDS SAY</p>
                    </div>
                    <img src="t1.jpg" class="card-img-top" alt="...">
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                
                <a class="link" href="F9.html">
                    
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">KARNATAKA BANDH: SHOULD COURTS DECIDE IF HIJAB IS ESSENTIAL IN ISLAM?</p>
                    </div>
                    <img src="t2.png" class="card-img-top" alt="...">
                    </a>
                    </div>
            </div>
            <div class="col-lg-3">
                <a class="link" href="F8.html">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">UKRAINE WAR: RUSSIA ATTACKS THEATRE SHELTERING CIVILIANS, MARIUPOL SAYS</p>
                    </div>
                    <img src="t3.jpg" class="card-img-top" alt="...">
                </a>
                    </div>
            </div>
            
            <div class="col-lg-3">
                <a class="link" href="F7.html">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">NORTH KOREA FIRES MISSILE BUT LAUNCH FAILS, SAYS SOUTH</p>
                    </div>
                    <img src="t4.png" class="card-img-top" alt="...">
                    </a>
                    </div>
            </div>

        </div>



        
        
        
        
        
        <section class="pageswitch">
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a  href="F1.html">1</a>
            <a  href="F2.html">2</a>
            <a href="F3.html">3</a>
            <a href="F4.html">4</a>
            <a class="active" href="F5.html">5</a>
            <a href="F6.html">6</a>
            <a href="F7.html">7</a>
            <a href="F8.html">8</a>
            <a href="F9.html">9</a>
            <a href="F10.html">10</a>
            <a href="#">&raquo;</a>
            </div>
            

        </section>
        <br>
        <br>
        <br>
        
        <section class="footer">
    <footer class="footerf">
  	 <div class="containerf">
  	 	<div class="rowf">
  	 		<div class="footer-column">
  	 			<h4>About Us</h4>
  	 			<p>
            All the worlds news to be notified and read in one place. Our mission is to give you the best and true information to read in one place.
          </p>
  	 		</div>
  	 		<div class="footer-column">
  	 			<h4>Quick Links</h4>
  	 			<ul>
  	 				<li><a href="#">Home</a></li>
  	 				<li><a href="#">Top News</a></li>
  	 				<li><a href="#">Local News</a></li>
  	 				<li><a href="#">Foreign News</a></li>
            <li><a href="#">Sports News</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-column">
  	 			<h4>Legal</h4>
  	 			<ul>
  	 				<li><a href="privacypolicy.html">Privacy Policy</a></li>
  	 				<li><a href="Terms.html">Terms of Service </a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-column">
  	 			<h4>follow us</h4>
  	 			<div class="social-links">
  	 				<a href="#"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
  </footer>

    </section>
        
    </body>
</html>
    
