*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
}
.main-heading
{
	font-size: 2em;
}
.main-heading
{
	color: 000000;
	font-weight: 600;
	margin-top:50px;
	margin-bottom: 30px;
}
.main-heading
{
	text-align: center;
}
.Privacy_Policy
{
	background-color: #c5dcfa;
	margin: 20px 60px;
	padding: 20px;
}
body
{
	background-color:white;
}


p
{
	font-size: 1.2em;
	margin-right: 40px;
	margin-left: 40px;

}
.para
{
	margin: 30px;
}
h2
{
	margin-bottom: 20px;
	margin-left: 40px;
}
li
{
	list-style:A ;
	margin-right: 35px;
}
ul
{
	padding-left: 55px;
	padding-right:55px;
}
ul
{
	margin-top: 20px;
}
