<!DOCTYPE html>
<html>
<head>
    <title>newspage</title>
    <!--Style Sheets!--> 
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="footercss.css">
    <link href="bootstrap.css" rel="stylesheet">
    <script src="bootstrap.js" defer></script>
    
     <!--Google Fonts!-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
    
    
    
    
    
    <!--Libries!-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    
    
    
    <!--Icon Packs!-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    
    </head>
    
    <body>
        <nav>
        
        <div class="favtext">
        <a href="Indexx.html"> <img src="image/Hnet.com-image%20(1).png">
            </a>
            </div>
        <div class="nav-links">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Top News</a></li>
            <li><a href="">Local News</a></li>
            <li><a href="">Foreign News</a></li>
            <li><a href="">Sport News </a></li>
            <li><a href=""><i class="far fa-user"></i> Login/Sign-up </a></li>
        </ul>
		</div>
        </nav>
        <br>
        <br>
        <br>
        
        
        <section class="topnews">
        
        <h1>Sports News</h1>
        <br>
        <section class="mainnew">
           <div class="news-col">
           
           
           <div class="image-cover">
           
           <img src="S6.jpg">
               
               <h3>HIDILYN DIAZ: FROM ANTI-GOVERNMENT CONSPIRACIES TO HISTORIC OLYMPIC GOLD</h3>
           
               </div>
           
           <br>
           <p>Hidilyn Diaz's world was about to alter forever on the third day of the Tokyo 2020 Olympics. It all came down to one crucial moment after five years of planning, pain, and patience.<br><br>

As she approached the weightlifting platform for her final lift in the women's 55kg category, the room was quiet. Liao Qiuyun of China was in first place after successfully raising 126 kilograms. <br><br>

Diaz exuded self-assurance. Focused. She repeated her particular mantra, which had gotten her this far in the competition: "Extend your chest. Deadlift. There was only one motion." She had one last chance to make Philippine history by winning the country's first Olympic gold. <br><br>

Seconds later, as the alarm sounded to certify a clean lift, emotion flooded across her face as 127kg of metal was elevated perilously above her head. She had finally gained the win she had aspired to for so long, at the age of 30. <br><br>

Diaz's path had been challenging for a variety of reasons. As a result of the views she encountered as a child. Because she had been imprisoned in a foreign country for a year because of Covid. And because she was labeled a "enemy of the state" in 2019. <br><br>

The Philippines competed in the Olympics for the first time in 1924, sending only one athlete to Paris: sprinter David Nepomuceno.

The lady who ended a 97-year drought by winning the Philippines' first Olympic gold was born in 1991 in Zamboanga City, a city of over one million people in the country's south. Diaz was one of six siblings whose father worked as a short-haul tricycle driver and her mother as a full-time housewife. <br><br>

She was 11 when a cousin, much to her mother's chagrin, introduced her to weightlifting.

"My mum told me, 'No one will like you when you're older. That sport is for men. You'll get big muscles and you won't get pregnant,'" Diaz says.

"I still did it because I enjoyed it. But later she started supporting me, when she saw how much I enjoyed it and the benefits it had, like my high-school scholarship." <br><br>

Diaz possessed a special talent. She was competing on the biggest stage of all within six years. She competed in the 2008 Olympics in Beijing at the age of 17, finishing second-last out of a field of 12.

She was her country's flagbearer at London 2012, but the Games ended in disappointment when she failed to lift her opening weight three times. Despite this, everyone had high expectations for the future. <br><br>

Diaz, who now combines her athletic career with service in the Philippine Air Force, had her significant breakthrough with silver in Rio 2016, the first Olympic medal earned by a Filipino woman.

She has already made a name for herself on the world level, winning gold at the Asian Games in 2018 and bronze in the World Championships in 2017 and 2019.

But there was a surprise that no one anticipated coming a year before the Games in Japan were to take place. <br><br>

Diaz was accused of being a part of a plot to depose Philippine President Rodrigo Duterte in 2019.

Duterte, 76, was elected in a landslide victory in 2016 on the strength of hard-line promises to combat crime and corruption. He has drawn widespread criticism for a brutal drug war and a series of remarks judged insulting or sexist by many observers.

In June, the head prosecutor of the International Criminal Court called for an inquiry into possible crimes against humanity committed during his government's deadly drug crackdown.

The charge against Diaz was leveled in 2019 as Salvador Panelo, the president's main legal counsel at the time, provided information of an alleged network of "enemy" individuals and organizations engaging in a "effort to discredit the Duterte administration," according to the government. The matrix was dubbed "Oust Duterte." <br><br>

Members of opposition political parties, celebrities, and journalists, including ardent Duterte critic Maria Ressa, co-winner of the Nobel Peace Prize in 2021, were among those present.

Diaz's inclusion has since been attributed to the fact that she was being followed on social media by blogger Rodel Jayme, who was imprisoned in 2019 for allegedly posting internet recordings saying Duterte and his cronies were participating in the very drug trade he claimed to be fighting.

At first, Diaz was perplexed by it all. Then she started getting harassment on social media from Duterte fans. Then her friends and family were singled out.

"Someone messaged me about it when I was in training," she says.

"They were making derogatory remarks about my father," says the narrator. I was taken aback, but I was even more so when my family was involved. I burst out crying after that.”

People were texting me on social media, saying negative things about me and criticizing me, and I had no idea what was going on. I have no idea what's going on, and they're berating me for something that isn't even real.

"I was just so busy preparing myself for the Olympics. It was a hard time, but I was able to overcome it with the people who believed in me."

Diaz's mental health suffered as a result of all of this. Then there was the epidemic.

Diaz and her crew were stranded in Malaysia, where she was training, while borders closed and flights were canceled around the world in early 2020. They had no idea when they would be able to return home.

Julius Naranjo, Diaz's fiancé and coach, developed a new program using the limited resources available in their leased accommodation in Kuala Lumpur. They used the parking lot as a cardio area and madeshift weights by hanging water bottles from bamboo twigs.

"Anxiety was so high," Diaz says. "We didn't even know what lockdown was. We thought it would only last for two weeks. I'm from the Philippines. My coaches are from Guam and China. We didn't know anyone in Malaysia."

It was evident early on that the Tokyo Olympics would have to be postponed.

"An additional 12 months for me [in training]… I felt like I couldn't do it," Diaz says.
"When I talked to our sports psychologist I would feel like crying and would tell them how I was feeling. They just said take it day by day. Control the things I can control because I can't control anything else."
It all paid off the next summer.

"I already knew I would win - I expected it," Diaz says. "You have to claim before you perform. I have to believe that I can do it.
"When I was there in the competition, I'm like: 'This is my day. I believe in God, I believe in my team, the last one is I just need to believe in myself.'"
She was congratulated by the same president she had been accused of plotting against when she returned home from Japan with her country's first Olympic gold. Duterte did not mention the accusation in his conversation with her. He did, however, advise Diaz to "let bygones be bygones."

Diaz adds: "There was a video call. Then after that, we met him in the [Malacanang] Palace. We were happy and I think everyone's happy with the achievement by the Filipino athletes in the Tokyo Olympics."

The allegations of a plot to depose Duterte were never proven. He is still in charge. Despite the fact that he is not qualified to run for president in May since the constitution prevents him from serving a second term, his daughter Sara is presently the favourite for vice president. The main presidential candidate is Ferdinand Marcos' son, who is the son of the cruel dictator who was deposed in 1986.

a thin grey line for presentation
Nothing could have prepared Diaz or her fiancé and coach Naranjo for how their lives would change, she says.

Overnight, she became a national hero. She was also set to get a sizable reward from the Philippine government, thanks to a law implemented by the previous administration that guaranteed PHP 10 million (about £150,000) to every Filipino who wins an Olympic gold medal.

"The competition was Monday, it sunk in that I had won on Saturday," Diaz says. "I felt like in those five days, I'm in the clouds. I'm like: 'Is this really the truth? Is this reality? I'm the first gold medallist? Me? Wow… Just, wow."

Big sponsorship deals awaited her, and her public profile has since risen dramatically. She has appeared in television commercials, social media campaigns, and billboards. The Philippine Postal Service honored her with her own set of stamps in 2021.

Diaz plans to use her newfound platform to help break down barriers and inspire other young women to pursue their aspirations.

"I grew up insecure with myself because I got into sports," she says. "There's this mindset about women, a stereotype, so it's good that girls have someone [different] to look up to.
"They have someone to look to and say: 'Big sister Heidi did it. I can do it too.'"<br><br>


</p>
               <div class="blog-meta">
                                    <p class="adc"><i class="far fa-user"></i>Jay Behrouzi-Sneade
(BBC Sport)


                                    <i class="far fa-calendar-alt"></i>  17-Mar-2022 
                                    <i class="far fa-comments"></i>  5 </p>
                                </div>
               <div class="rt-container">
          <div class="col-rt-12">
              <div class="Scriptcontent">
              
<!-- partial:index.partial.html -->
<section id="app">
    <div class="container11">
      <div class="row11">
        <div class="col-6">
          <div class="comment">
        <p v-for="items in item" v-text="items"></p>
          </div><!--End Comment-->
          </div><!--End col -->
          </div><!-- End row -->
      <div class="row">
        <div class="col-6">
            <form method="post" action="">
      <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
          <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
                </form>
        </div><!-- End col -->
      </div><!--End Row -->
    </div><!--End Container -->
  </section><!-- end App -->
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script  src="script.js"></script>
           
    		</div>
		</div>
    </div>

           </div> 
            
            
        </section>
        </section>

        <div class="ms-3 row container-fluid mb-3">
            <div class="col-xxl-3">
                
                <a class="link" href="">
                    
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">THE NEW GENERATION OF INDIAN FEMALE PARA-ATHLETES IS DRIVING A PARADIGM SHIFT</p>
                    </div>
                    <img src="s2.jpg" class="card-img-top" alt="...">
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                
                <a class="link" href="">
                    
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">ARSENAL 0-2 LIVERPOOL: THE REDS THROW THE GAUNTLET DOWN TO PREMIER LEAGUE LEADERS MANCHESTER CITY.

</p>
                    </div>
                    <img src="s3.jpg" class="card-img-top" alt="...">
                    </a>
                    </div>
            </div>
            <div class="col-lg-3">
                <a class="link" href="">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">ENGLAND IN WEST INDIES: JOE ROOT HITS 119 NOT OUT AND DAN LAWRENCE 91 AS TOURISTS TAKE COMMAND</p>
                    </div>
                    <img src="s4.jpg" class="card-img-top" alt="...">
                </a>
                    </div>
            </div>
            
            <div class="col-lg-3">
                <a class="link" href="">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">MAX VERSTAPPEN SAYS FORMULA 1 DOES 'NOT NEED TO HEAL'</p>
                    </div>
                    <img src="s5.jpg" class="card-img-top" alt="...">
                    </a>
                    </div>
            </div>

        </div>



        
        
        
        
        
        <section class="pageswitch">
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a class="active" href="pages.Sp1.html">1</a>
            <a  href="pages.Sp2.html">2</a>
            <a href="pages.Sp3.html">3</a>
            <a href="pages.Sp4.html">4</a>
            <a href="pages.Sp5.html">5</a>
            <a href="pages.Sp6.html">6</a>
            <a href="pages.Sp7.html">7</a>
            <a href="pages.Sp8.html">8</a>
            <a href="pages.Sp9.html">9</a>
            <a href="pages.Sp10.html">10</a>
            <a href="#">&raquo;</a>
            </div>
            

        </section>
        <br>
        <br>
        <br>
        
        <section class="footer">
    <footer class="footerf">
  	 <div class="containerf">
  	 	<div class="rowf">
  	 		<div class="footer-column">
  	 			<h4>About Us</h4>
  	 			<p>
            All the worlds news to be notified and read in one place. Our mission is to give you the best and true information to read in one place.
          </p>
  	 		</div>
  	 		<div class="footer-column">
  	 			<h4>Quick Links</h4>
  	 			<ul>
  	 				<li><a href="#">Home</a></li>
  	 				<li><a href="#">Top News</a></li>
  	 				<li><a href="#">Local News</a></li>
  	 				<li><a href="#">Foreign News</a></li>
            <li><a href="#">Sports News</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-column">
  	 			<h4>Legal</h4>
  	 			<ul>
  	 				<li><a href="privacypolicy.html">Privacy Policy</a></li>
  	 				<li><a href="Terms.html">Terms of Service </a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-column">
  	 			<h4>follow us</h4>
  	 			<div class="social-links">
  	 				<a href="#"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
  </footer>

    </section>
        
    </body>
</html>
    
