<!DOCTYPE html>
<html>
<head>
    <title>newspage</title>
    <!--Style Sheets!--> 
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="footercss.css">
    <link href="bootstrap.css" rel="stylesheet">
    <script src="bootstrap.js" defer></script>
    
     <!--Google Fonts!-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
    
    
    
    
    
    <!--Libries!-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    
    
    
    <!--Icon Packs!-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    
    </head>
    
    <body>
        <nav>
        
        <div class="favtext">
        <a href="Indexx.html"> <img src="image/Hnet.com-image%20(1).png">
            </a>
            </div>
        <div class="nav-links">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Top News</a></li>
            <li><a href="">Local News</a></li>
            <li><a href="">Foreign News</a></li>
            <li><a href="">Sport News </a></li>
            <li><a href=""><i class="far fa-user"></i> Login/Sign-up </a></li>
        </ul>
		</div>
        </nav>
        <br>
        <br>
        <br>
        
        
        <section class="topnews">
        
        <h1>Sports News</h1>
        <br>
        <section class="mainnew">
           <div class="news-col">
           
           
           <div class="image-cover">
           
           <img src="S3.jpg">
               
               <h3>Indian Wells: Britons Emma Raducanu and Harriet Dart through to third round</h3>
           
               </div>
           
           <br>
           <p>Emma Raducanu advanced to the third round at Indian Wells by defeating Caroline Garcia of France 6-1 3-6 6-1.<br><br>

The 19-year-old British number one stormed to a 3-0 lead and won the opening set decisively after saving four break points in the fifth game.<br> <br>

Garcia broke Raducanu three times on his route to tying the match before coasting in the third set.<br><br>

a British citizen Harriet Dart advanced to the third round after defeating former world number three Elina Svitolina 2-6 6-3 6-3.
The 12th-seeded Ukrainian broke the 25-year-old four times in the first set, but the British number three came back to win the following two sets and the match in two hours and 17 minutes.
 <br> <br>

Dart, who is rated 122nd in the world, will face Kaia Kanepi of Estonia in the following round, while Raducanu will face Petra Martic of Croatia.
<br> <br>


Murray wins his 700th ATP match after defeating Daniel.
Raducanu, who is ranked 13th in the world, said coming through in three sets against former world number four Garcia "means a lot."

<br><br>

"I believed tennis was of a good standard. Raducanu stated, "It might have gone other way." <br><br>

"She plays really forcefully and quickly, so as soon as I loosened off in the second set, she jumped right on top of it."<br><br>


"I knew I needed to make some changes in the third set, so I'm glad I was able to figure it out in the match and win a tough one."<br><br>

Raducanu was hampered by a blister when he was knocked out in the second round of the Australian Open, and he had only played four matches this year before meeting Garcia, who is ranked 66th in the world.<br><br>

She also had to withdraw from a match against Daria Saville in Guadalajara two weeks ago because to a leg ailment, and there were worries about her ability to compete in California.<br><br>
Raducanu, on the other hand, overcame considerable adversity in his encounter with Garcia, which lasted one hour and 31 minutes.<br><br>

In the opening round of the doubles tournament, Dayana Yastremska and her 15-year-old sister Ivanna were defeated 6-1 6-1 by Romanians Irina Camelia-Begu and Monica Niculescu.<br><br>

The Ukrainian sisters competed for the second time since fleeing their home city of Odesa last month in the aftermath of Russia's invasion of Ukraine.<br><br>

Alerts for live scores, results, and game order: Get tennis news sent straight to your phone.<br><br>

</p>
               <div class="blog-meta">
                                    <p class="adc"><i class="far fa-user"></i>Ben King(Business reporter, BBC News)

                                    <i class="far fa-calendar-alt"></i>  23-Mar-2022 
                                    <i class="far fa-comments"></i>  4 </p>
                                </div>
               <div class="rt-container">
          <div class="col-rt-12">
              <div class="Scriptcontent">
              
<!-- partial:index.partial.html -->
<section id="app">
    <div class="container11">
      <div class="row11">
        <div class="col-6">
          <div class="comment">
        <p v-for="items in item" v-text="items"></p>
          </div><!--End Comment-->
          </div><!--End col -->
          </div><!-- End row -->
      <div class="row">
        <div class="col-6">
            <form method="post" action="">
      <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
          <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
                </form>
        </div><!-- End col -->
      </div><!--End Row -->
    </div><!--End Container -->
  </section><!-- end App -->
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script  src="script.js"></script>
           
    		</div>
		</div>
    </div>

           </div> 
            
            
        </section>
        </section>

        <div class="ms-3 row container-fluid mb-3">
            <div class="col-xxl-3">
                
                <a class="link" href="">
                    
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">Alerts for live scores, results, and game order: Get tennis news sent straight to your phone.</p>
                    </div>
                    <img src="S1.jpg" class="card-img-top" alt="...">
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                
                <a class="link" href="">
                    
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">England in West Indies: Mark Wood ruled out of second Test</p>
                    </div>
                    <img src="S2.jpg" class="card-img-top" alt="...">
                    </a>
                    </div>
            </div>
            <div class="col-lg-3">
                <a class="link" href="">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">Henrik Stenson opts for Ryder Cup captaincy over Super League</p>
                    </div>
                    <img src="S4.jpg" class="card-img-top" alt="...">
                </a>
                    </div>
            </div>
            
            <div class="col-lg-3">
                <a class="link" href="">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">Holders beat Lille at a lively Stade Pierre-Mauroy to secure a 4-1 aggregate win.</p>
                    </div>
                    <img src="S5.jpg" class="card-img-top" alt="...">
                    </a>
                    </div>
            </div>

        </div>



        
        
        
        
        
        <section class="pageswitch">
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="pages.Sp1.html">1</a>
            <a  href="pages.Sp2.html">2</a>
            <a href="pages.Sp3.html">3</a>
            <a href="pages.Sp4.html">4</a>
            <a href="pages.Sp5.html">5</a>
            <a href="pages.Sp6.html">6</a>
            <a href="pages.Sp7.html">7</a>
            <a class="active" href="pages.Sp8.html">8</a>
            <a href="pages.Sp9.html">9</a>
            <a href="pages.Sp10.html">10</a>
            <a href="#">&raquo;</a>
            </div>
            

        </section>
        <br>
        <br>
        <br>
        
        <section class="footer">
    <footer class="footerf">
  	 <div class="containerf">
  	 	<div class="rowf">
  	 		<div class="footer-column">
  	 			<h4>About Us</h4>
  	 			<p>
            All the worlds news to be notified and read in one place. Our mission is to give you the best and true information to read in one place.
          </p>
  	 		</div>
  	 		<div class="footer-column">
  	 			<h4>Quick Links</h4>
  	 			<ul>
  	 				<li><a href="#">Home</a></li>
  	 				<li><a href="#">Top News</a></li>
  	 				<li><a href="#">Local News</a></li>
  	 				<li><a href="#">Foreign News</a></li>
            <li><a href="#">Sports News</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-column">
  	 			<h4>Legal</h4>
  	 			<ul>
  	 				<li><a href="privacypolicy.html">Privacy Policy</a></li>
  	 				<li><a href="Terms.html">Terms of Service </a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-column">
  	 			<h4>follow us</h4>
  	 			<div class="social-links">
  	 				<a href="#"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
  </footer>

    </section>
        
    </body>
</html>
    
