<!DOCTYPE html>
<html>
<head>
    <title>newspage</title>
    <!--Style Sheets!--> 
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="footercss.css">
    <link href="bootstrap.css" rel="stylesheet">
    <script src="bootstrap.js" defer></script>
    
     <!--Google Fonts!-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
    
    
    
    
    
    <!--Libries!-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    
    
    
    <!--Icon Packs!-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    
    </head>
    
    <body>
        <nav>
        
        <div class="favtext">
        <a href="Indexx.html"> <img src="image/Hnet.com-image%20(1).png">
            </a>
            </div>
        <div class="nav-links">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Top News</a></li>
            <li><a href="">Local News</a></li>
            <li><a href="">Foreign News</a></li>
            <li><a href="">Sport News </a></li>
            <li><a href=""><i class="far fa-user"></i> Login/Sign-up </a></li>
        </ul>
		</div>
        </nav>
        <br>
        <br>
        <br>
        
        
        <section class="topnews">
        
        <h1>Sports News</h1>
        <br>
        <section class="mainnew">
           <div class="news-col">
           
           
           <div class="image-cover">
           
           <img src="S4.jpg">
               
               <h3>Henrik Stenson opts for Ryder Cup captaincy over Super League</h3>
           
               </div>
           
           <br>
           <p>There aren't many Australians who lose Ryder Cup matches, but Greg Norman, the former world number one, has lost to Europe after Henrik Stenson was named the continent's new Ryder Cup captain.<br><br>

The Swede had been considering a hefty offer to join a new Super League spearheaded by Norman, the Queenslander who serves as chief executive of LIV Golf Investments, which is sponsored by Saudi Arabia.<br> <br>

Stenson, on the other hand, has opted to maintain the status quo.
He has accepted a job offer that he describes as "humbling and honorable."
<br><br>

After a historic defeat in the 2021 match at Whistling Straits, the 45-year-old Stenson has been tasked with reclaiming the title in Rome following year.
 <br> <br>

For Stenson, who lost millions in the Allen Stanford Ponzi scheme, which ended in the American businessman's imprisonment in 2012, Saudi wealth may have been a very appealing option.<br> <br>


However, the new captain has chosen to spearhead Europe's effort to keep its 30-year winning streak at home against the United States in golf's showcase team tournament.
<br><br>

After Lee Westwood withdrew from the race, Stenson was the selection panel's first pick.<br><br>

Padraig Harrington, Thomas Bjorn, and Darren Clarke were among the three most recent captains, as well as committee chairman David Howell and DP World Tour chief executive Keith Pelley.<br><br>


"Over a long period of time, there have been a lot of rumors and conjecture in the media," Stenson told BBC Sport.<br><br>

"And, as I informed the panel and Ryder Cup Europe, I'm absolutely committed to being the captain and delivering the greatest possible outcome with the squad." It's been laser-focused on that - and it's all systems go for Rome.<br><br>

"Every captain signs a captains' agreement, and I've signed one of them as well." Actions, in my opinion, speak louder than words.<br><br>


"I've been on the DP World Tour for 21 years, 19 years on the Tournament Committee, co-hosting the Scandinavian Mixed with Annika Sorenstam on the schedule - and now I'm sitting here as the Ryder Cup captain for 2023."
<br><br>

When asked if taking the role represents an endorsement of golf's status quo, Stenson answered, "I'm here as the Ryder Cup captain, I don't see how else I can explain that."<br><br>

</p>
               <div class="blog-meta">
                                    <p class="adc"><i class="far fa-user"></i>Ben King(Business reporter, BBC News)

                                    <i class="far fa-calendar-alt"></i>  17-Mar-2022 
                                    <i class="far fa-comments"></i>  5 </p>
                                </div>
               <div class="rt-container">
          <div class="col-rt-12">
              <div class="Scriptcontent">
              
<!-- partial:index.partial.html -->
<section id="app">
    <div class="container11">
      <div class="row11">
        <div class="col-6">
          <div class="comment">
        <p v-for="items in item" v-text="items"></p>
          </div><!--End Comment-->
          </div><!--End col -->
          </div><!-- End row -->
      <div class="row">
        <div class="col-6">
            <form method="post" action="">
      <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
          <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
                </form>
        </div><!-- End col -->
      </div><!--End Row -->
    </div><!--End Container -->
  </section><!-- end App -->
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script  src="script.js"></script>
           
    		</div>
		</div>
    </div>

           </div> 
            
            
        </section>
        </section>

        <div class="ms-3 row container-fluid mb-3">
            <div class="col-xxl-3">
                
                <a class="link" href="">
                    
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">World Athletics Indoor Championships 2022: Schedule and BBC coverage times</p>
                    </div>
                    <img src="S1.jpg" class="card-img-top" alt="...">
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                
                <a class="link" href="">
                    
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">England in West Indies: Mark Wood ruled out of second Test</p>
                    </div>
                    <img src="S2.jpg" class="card-img-top" alt="...">
                    </a>
                    </div>
            </div>
            <div class="col-lg-3">
                <a class="link" href="">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">Indian Wells: Britons Emma Raducanu and Harriet Dart through to third round</p>
                    </div>
                    <img src="S3.jpg" class="card-img-top" alt="...">
                </a>
                    </div>
            </div>
            
            <div class="col-lg-3">
                <a class="link" href="">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">Holders beat Lille at a lively Stade Pierre-Mauroy to secure a 4-1 aggregate win.</p>
                    </div>
                    <img src="S5.jpg" class="card-img-top" alt="...">
                    </a>
                    </div>
            </div>

        </div>



        
        
        
        
        
        <section class="pageswitch">
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="pages.Sp1.html">1</a>
            <a  href="pages.Sp2.html">2</a>
            <a href="pages.Sp3.html">3</a>
            <a href="pages.Sp4.html">4</a>
            <a href="pages.Sp5.htmlv">5</a>
            <a href="pages.Sp6.html">6</a>
            <a href="pages.Sp7.html">7</a>
            <a href="pages.Sp8.html">8</a>
            <a class="active" href="pages.Sp9.html">9</a>
            <a href="pages.Sp10.html">10</a>
            <a href="#">&raquo;</a>
            </div>
            

        </section>
        <br>
        <br>
        <br>
        
        <section class="footer">
    <footer class="footerf">
  	 <div class="containerf">
  	 	<div class="rowf">
  	 		<div class="footer-column">
  	 			<h4>About Us</h4>
  	 			<p>
            All the worlds news to be notified and read in one place. Our mission is to give you the best and true information to read in one place.
          </p>
  	 		</div>
  	 		<div class="footer-column">
  	 			<h4>Quick Links</h4>
  	 			<ul>
  	 				<li><a href="#">Home</a></li>
  	 				<li><a href="#">Top News</a></li>
  	 				<li><a href="#">Local News</a></li>
  	 				<li><a href="#">Foreign News</a></li>
            <li><a href="#">Sports News</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-column">
  	 			<h4>Legal</h4>
  	 			<ul>
  	 				<li><a href="privacypolicy.html">Privacy Policy</a></li>
  	 				<li><a href="Terms.html">Terms of Service </a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-column">
  	 			<h4>follow us</h4>
  	 			<div class="social-links">
  	 				<a href="#"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
  </footer>

    </section>
        
    </body>
</html>
    
