<!DOCTYPE html>
<html>
<head>
    <title>newspage</title>
    <!--Style Sheets!--> 
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="footercss.css">
    <link href="bootstrap.css" rel="stylesheet">
    <script src="bootstrap.js" defer></script>
    
     <!--Google Fonts!-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
    
    
    
    
    
    <!--Libries!-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    
    
    
    <!--Icon Packs!-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    
    </head>
    
    <body>
        <nav>
        
        <div class="favtext">
        <a href="Indexx.html"> <img src="image/Hnet.com-image%20(1).png">
            </a>
            </div>
        <div class="nav-links">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Top News</a></li>
            <li><a href="">Local News</a></li>
            <li><a href="">Foreign News</a></li>
            <li><a href="">Sport News </a></li>
            <li><a href=""><i class="far fa-user"></i> Login/Sign-up </a></li>
        </ul>
		</div>
        </nav>
        <br>
        <br>
        <br>
        
        
        <section class="topnews">
        
        <h1>Sports News</h1>
        <br>
        <section class="mainnew">
           <div class="news-col">
           
           
           <div class="image-cover">
           
           <img src="S7.jpg">
               
               <h3>THE NEW GENERATION OF INDIAN FEMALE PARA-ATHLETES IS DRIVING A PARADIGM SHIFT</h3>
           
               </div>
           
           <br>
           <p>Palak Kohli, 19, is bright and lively, her fingers deftly scrolling through social media platforms, and she appears to be just like any other adolescent. <br><br>

That is, until she takes the court for badminton. As she rushes through some incredibly rapid rallies, forehand and backhand, it takes a moment to take in the athletic ability on display. It's almost as though the transformation is supernatural. <br><br>

Palak was the youngest Indian para-badminton player at the Tokyo Paralympics last summer, despite having an undeveloped arm. It's been a long and winding road to get here. <br><br>

There is virtually little knowledge of para-sport in many smaller towns and villages across India. Before 2016, Palak and her parents had never heard of para-badminton. <br><br>

She took up a racquet for the first time a year later, after a chance encounter with a "stranger" who would become her future instructor. She had won her first international competition by the year 2019. <br><br>

As a child I never thought of taking any sports. Everywhere I used to hear it's not for me because of my disability," she says.
"But I decided to challenge myself. I transformed my disability into a super-ability and Para-badminton has changed my life." <br><br>

Palak is part of a new generation of female para-athletes in India who are defying expectations, rewriting history, winning medals, and compelling others to reconsider their views on disability and gender.

Another is Avani Lekhara. She was also 19 when she won Paralympic gold in Tokyo, making her the first Indian woman to do so. She won a bronze medal in the 50m rifle 3-positions SH1 competition after winning the women's 10m air rifle standing SH1 category. <br><br>

Shooting gave her a new lease on life when she was paralyzed from the waist down in a vehicle accident when she was ten years old. She had to overcome numerous challenges, including the lack of ramps at the shooting range and specialized equipment, as well as the severe mental impact of her tragedy. Her ambition, on the other hand, remained unwavering. <br><br>

When you meet her on a brisk winter morning in Jaipur, you can see why she is at the top.

With the discipline of a monk, the focus of a hawk, the philosophy of a sage, and the mentality of a perfectionist. She possesses all of the necessary qualities.

"After my accident my world turned upside down," she says. "I didn't feel like talking to anyone. What do you expect from a 10-year-old? I was an introvert before the accident and became more so. <br><br>

"The turning point was shooting. It gave me a lot of self-confidence.”

"[But] it's not that one is happy all the time. You have to go in front of the mirror every day and say: 'This is the body I am in, I am in love with this body. I am capable, I can do anything, I am deserving.'"<br><br>

The nominees for Indian Sportswoman of the Year
When it comes to pursuing a profession as an athlete, many sportswomen in India still confront cultural hostility and gender prejudice. Poverty and a lack of resources are also major roadblocks. Female athletes with disabilities must overcome all of this and more.

Simran Sharma, 23, made history in Tokyo by being the first Indian athlete to compete in the Paralympic 100m sprint. She was born with a vision handicap and was born early. <br><br>

"During childhood even my own relatives and family members used to bully me," she says.

"Because I can't concentrate my vision properly on any object they would say horrible things like 'this girl looks here and talks there'. It was very hurtful."

Sharma was a natural sprinter in school, but her parents couldn't afford to train her. When she married at the age of 18, the guy who would later become her husband was also her instructor. <br><br>

The thought of a new bride going out jogging instead of taking up domestic tasks outraged the local people in her husband's village.

Despite the opposition, Sharma refused to give up. She went on to win the 100m at two World Paralympic Grand Prix events in 2019 and 2021. She finished sixth in her heat in Tokyo, setting a season's best time, but missed out on a spot in the final. <br><br>

She claims that the same family members who used to tease her about her disabilities now support her.
"Para-sport saved me actually," she adds. "It gave me a new identity and a new-found respect as a disabled person in a patriarchal society."

With a silver medal in shot put at the 2016 Paralympics in Rio, Deepa Malik became the first Indian woman to win a medal at any Paralympics. Last summer, the Netherlands sent its largest-ever delegation to the Tokyo Olympics, with women accounting for fewer than 30% of the total. <br><br>

Bhavina Patel, 34, was another competitor who made history by becoming the first Indian woman to win a Paralympic table tennis medal, with a silver.

In India, disabled athletes have never gotten much recognition in the media. However, success implies that things have begun to change. There has also been a progressive shift in public attitudes. <br><br>

Lekhara is optimistic. <br><br>

"Being a female athlete is a hard," she says. "We get fewer chances. But whatever chances they are getting, Indian sportswomen are performing very well and in the future there will be equal medallists from both genders.
"There's a long way to go. But we are on the right track and we have a bright future." <br><br>


</p>
               <div class="blog-meta">
                                    <p class="adc"><i class="far fa-user"></i>Ben King(Business reporter, BBC News)

                                    <i class="far fa-calendar-alt"></i>  17-Mar-2022 
                                    <i class="far fa-comments"></i>  5 </p>
                                </div>
               <div class="rt-container">
          <div class="col-rt-12">
              <div class="Scriptcontent">
              
<!-- partial:index.partial.html -->
<section id="app">
    <div class="container11">
      <div class="row11">
        <div class="col-6">
          <div class="comment">
        <p v-for="items in item" v-text="items"></p>
          </div><!--End Comment-->
          </div><!--End col -->
          </div><!-- End row -->
      <div class="row">
        <div class="col-6">
            <form method="post" action="">
      <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
          <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
                </form>
        </div><!-- End col -->
      </div><!--End Row -->
    </div><!--End Container -->
  </section><!-- end App -->
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script  src="script.js"></script>
           
    		</div>
		</div>
    </div>

           </div> 
            
            
        </section>
        </section>

        <div class="ms-3 row container-fluid mb-3">
            <div class="col-xxl-3">
                
                <a class="link" href="">
                    
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">HIDILYN DIAZ: FROM ANTI-GOVERNMENT CONSPIRACIES TO HISTORIC OLYMPIC GOLD</p>
                    </div>
                    <img src="s1.jpg" class="card-img-top" alt="...">
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                
                <a class="link" href="">
                    
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">ARSENAL 0-2 LIVERPOOL: THE REDS THROW THE GAUNTLET DOWN TO PREMIER LEAGUE LEADERS MANCHESTER CITY.</p>
                    </div>
                    <img src="s3.jpg" class="card-img-top" alt="...">
                    </a>
                    </div>
            </div>
            <div class="col-lg-3">
                <a class="link" href="">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">ENGLAND IN WEST INDIES: JOE ROOT HITS 119 NOT OUT AND DAN LAWRENCE 91 AS TOURISTS TAKE COMMAND</p>
                    </div>
                    <img src="s4.jpg" class="card-img-top" alt="...">
                </a>
                    </div>
            </div>
            
            <div class="col-lg-3">
                <a class="link" href="">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">MAX VERSTAPPEN SAYS FORMULA 1 DOES 'NOT NEED TO HEAL'</p>
                    </div>
                    <img src="s5.jpg" class="card-img-top" alt="...">
                    </a>
                    </div>
            </div>

        </div>



        
        
        
        
        
        <section class="pageswitch">
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="pages.Sp1.html">1</a>
            <a class="active" href="pages.Sp2.html">2</a>
            <a href="pages.Sp3.html">3</a>
            <a href="pages.Sp4.html">4</a>
            <a href="pages.Sp5.html">5</a>
            <a href="pages.Sp6.html">6</a>
            <a href="pages.Sp7.html">7</a>
            <a href="pages.Sp8.html">8</a>
            <a href="pages.Sp9.html">9</a>
            <a href="pages.Sp10.html">10</a>
            <a href="#">&raquo;</a>
            </div>
            

        </section>
        <br>
        <br>
        <br>
        
        <section class="footer">
    <footer class="footerf">
  	 <div class="containerf">
  	 	<div class="rowf">
  	 		<div class="footer-column">
  	 			<h4>About Us</h4>
  	 			<p>
            All the worlds news to be notified and read in one place. Our mission is to give you the best and true information to read in one place.
          </p>
  	 		</div>
  	 		<div class="footer-column">
  	 			<h4>Quick Links</h4>
  	 			<ul>
  	 				<li><a href="#">Home</a></li>
  	 				<li><a href="#">Top News</a></li>
  	 				<li><a href="#">Local News</a></li>
  	 				<li><a href="#">Foreign News</a></li>
            <li><a href="#">Sports News</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-column">
  	 			<h4>online shop</h4>
  	 			<ul>
  	 				<li><a href="privacypolicy.html">Privacy Policy</a></li>
  	 				<li><a href="Terms.html">Terms of Service </a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-column">
  	 			<h4>follow us</h4>
  	 			<div class="social-links">
  	 				<a href="#"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
  </footer>

    </section>
        
    </body>
</html>
    
