<!DOCTYPE html>
<html>
<head>
    <title>newspage</title>
    <!--Style Sheets!--> 
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="footercss.css">
    <link href="bootstrap.css" rel="stylesheet">
    <script src="bootstrap.js" defer></script>
    
     <!--Google Fonts!-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
    
    
    
    
    
    <!--Libries!-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    
    
    
    <!--Icon Packs!-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    
    </head>
    
    <body>
        <nav>
        
        <div class="favtext">
        <a href="Indexx.html"> <img src="image/Hnet.com-image%20(1).png">
            </a>
            </div>
        <div class="nav-links">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Top News</a></li>
            <li><a href="">Local News</a></li>
            <li><a href="">Foreign News</a></li>
            <li><a href="">Sport News </a></li>
            <li><a href=""><i class="far fa-user"></i> Login/Sign-up </a></li>
        </ul>
		</div>
        </nav>
        <br>
        <br>
        <br>
        
        
        <section class="topnews">
        
        <h1>Sports News</h1>
        <br>
        <section class="mainnew">
           <div class="news-col">
           
           
           <div class="image-cover">
           
           <img src="S9.jpg">
               
               <h3>ENGLAND IN WEST INDIES: JOE ROOT HITS 119 NOT OUT AND DAN LAWRENCE 91 AS TOURISTS TAKE COMMAND</h3>
           
               </div>
           
           <br>
           <p>As England took hold of the second Test on day one in Barbados, Joe Root punished the West Indies with yet another century.

Root could have been caught behind on 23 and dropped on 34, but he went on to score 119 not out, his 25th Test century and second in as many innings, as the tourists finished on 244-3. <br><br>


The loss of Dan Lawrence at the conclusion of the day, after a brilliant 91, slowed England's progress marginally.

Lawrence appeared to be on track for his first Test century after combining with Root for a wonderful, aggressive 164-run stand, but in the last over, he chipped Jason Holder to extra cover. <br><br>


After opener Zak Crawley was caught behind for a duck in the fourth over, Root set the tone alongside Alex Lees, who reached 30 off 138 balls.

The late wicket buoyed West Indies, who had been squandering their chances on another flat ground.

Saqib Mahmood and fellow seamer Matt Fisher made their debuts earlier, the latter a late substitute for Craig Overton, who was ruled out due to sickness. <br><br>


England's day is ruined by a late wicket.
England was on the verge of a near-perfect day until Lawrence was ejected.

Lawrence, one of the young batsmen given a chance in this series following the Ashes humiliation, had played his best Test knock to date, and their captain had scored another amazing century. <br><br>


However, the 24-year-old went hard at a ball from Holder outside off and gave a catch, possibly with three figures on his mind after cracking the two previous deliveries for four. It would have been the day's penultimate ball.

Holder erupted in jubilation as the West Indies, who had been mediocre for the majority of the day, retaliated.

Lawrence, on the other hand, had to drag himself off the field while the tens of thousands of England fans celebrated.

England is still in command, but due to the condition of the pitch, a score of about 400 is anticipated. <br><br>


After limiting scoring in the early half of the day, the West Indies will now want to keep England below that mark.

Root is at it again.
Root's recent century is his eighth in 19 Tests since the start of 2021, a remarkable run in which he has almost single-handedly kept England's batting line-up alive.

He looked great from the start, smashing a pull shot for four from his ninth ball and driving cleanly past the covers shortly after. He came in at 4-1. <br><br>


In the Antigua draw, his second-inning 109 was unassailable. On a similar flat ground in Barbados, he did create two chances, but he was saved by blunders.

After a half-hearted West Indies protest, he appeared to inside edge onto his pad and into the clutches of wicketkeeper Joshua da Silva, but umpire Nigel Duguid remained unconvinced.

The fact that the hosts had just thrown away an optimistic lbw review will have affected their decision not to appeal the verdict.

Soon after lunch, he got his second life when he tickled Kemar Roach on the leg-side. Da Silva managed to get one glove on the ball but was unable to keep it. <br><br>


Root didn't look back after that. He grew more fluent as a result of Lawrence's encouragement, scoring in his usual locations - off his pads and through the covers.

He has also played another captain's innings as his side continues to take small strides toward recovery following the Ashes defeat.

After Lees digs in, Lawrence dazzles.
If Root's runs have become regular, Lees and Lawrence's batting has the potential to usher in a new era for England. <br><br>


Lees made four and six on debut in Antigua, both times being bowled lbw by Roach, but he showed why England has chosen him as their next Test opener.

The Durham left-hander was tenacious in a tough knock that didn't grab the eye but served a purpose in getting the new ball out of the way.

Lees and Root put up an 80-run partnership in the first 45 overs until Lees was bowled lbw by Veerasammy Permaul while on the back foot. Root and Lawrence added 164 runs in the next 44.5 overs, thanks in part to the platform they were given. <br><br>


Lawrence, on the other hand, was imposing throughout, with the highlight being a wristy, flicked six off Permaul.

He had cantered to his fifty from 62 balls and had slowed at the finish, only to be undone by the rush of blood. <br><br>


</p>
               <div class="blog-meta">
                                    <p class="adc"><i class="far fa-user"></i>Ben King(Business reporter, BBC News)

                                    <i class="far fa-calendar-alt"></i>  17-Mar-2022 
                                    <i class="far fa-comments"></i>  5 </p>
                                </div>
               <div class="rt-container">
          <div class="col-rt-12">
              <div class="Scriptcontent">
              
<!-- partial:index.partial.html -->
<section id="app">
    <div class="container11">
      <div class="row11">
        <div class="col-6">
          <div class="comment">
        <p v-for="items in item" v-text="items"></p>
          </div><!--End Comment-->
          </div><!--End col -->
          </div><!-- End row -->
      <div class="row">
        <div class="col-6">
            <form method="post" action="">
      <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
          <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
                </form>
        </div><!-- End col -->
      </div><!--End Row -->
    </div><!--End Container -->
  </section><!-- end App -->
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script  src="script.js"></script>
           
    		</div>
		</div>
    </div>

           </div> 
            
            
        </section>
        </section>

        <div class="ms-3 row container-fluid mb-3">
            <div class="col-xxl-3">
                
                <a class="link" href="">
                    
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">HIDILYN DIAZ: FROM ANTI-GOVERNMENT CONSPIRACIES TO HISTORIC OLYMPIC GOLD</p>
                    </div>
                    <img src="s1.jpg" class="card-img-top" alt="...">
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                
                <a class="link" href="">
                    
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">THE NEW GENERATION OF INDIAN FEMALE PARA-ATHLETES IS DRIVING A PARADIGM SHIFT322</p>
                    </div>
                    <img src="s2.jpg" class="card-img-top" alt="...">
                    </a>
                    </div>
            </div>
            <div class="col-lg-3">
                <a class="link" href="">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">ARSENAL 0-2 LIVERPOOL: THE REDS THROW THE GAUNTLET DOWN TO PREMIER LEAGUE LEADERS MANCHESTER CITY.</p>
                    </div>
                    <img src="s3.jpg" class="card-img-top" alt="...">
                </a>
                    </div>
            </div>
            
            <div class="col-lg-3">
                <a class="link" href="">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">MAX VERSTAPPEN SAYS FORMULA 1 DOES 'NOT NEED TO HEAL'</p>
                    </div>
                    <img src="s5.jpg" class="card-img-top" alt="...">
                    </a>
                    </div>
            </div>

        </div>



        
        
        
        
        
        <section class="pageswitch">
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="pages.Sp1.html">1</a>
            <a  href="pages.Sp2.html">2</a>
            <a href="pages.Sp3.html">3</a>
            <a class="active" href="pages.Sp4.html">4</a>
            <a href="pages.Sp5.html">5</a>
            <a href="pages.Sp6.html">6</a>
            <a href="pages.Sp7.html">7</a>
            <a href="pages.Sp8.html">8</a>
            <a href="pages.Sp9.html">9</a>
            <a href="pages.Sp10html">10</a>
            <a href="#">&raquo;</a>
            </div>
            

        </section>
        <br>
        <br>
        <br>
        
        <section class="footer">
    <footer class="footerf">
  	 <div class="containerf">
  	 	<div class="rowf">
  	 		<div class="footer-column">
  	 			<h4>About Us</h4>
  	 			<p>
            All the worlds news to be notified and read in one place. Our mission is to give you the best and true information to read in one place.
          </p>
  	 		</div>
  	 		<div class="footer-column">
  	 			<h4>Quick Links</h4>
  	 			<ul>
  	 				<li><a href="#">Home</a></li>
  	 				<li><a href="#">Top News</a></li>
  	 				<li><a href="#">Local News</a></li>
  	 				<li><a href="#">Foreign News</a></li>
            <li><a href="#">Sports News</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-column">
  	 			<h4>Legal</h4>
  	 			<ul>
  	 				<li><a href="privacypolicy.html">Privacy Policy</a></li>
  	 				<li><a href="Terms.html">Terms of Service </a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-column">
  	 			<h4>follow us</h4>
  	 			<div class="social-links">
  	 				<a href="#"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
  </footer>

    </section>
        
    </body>
</html>
    
