<!DOCTYPE html>
<html>
<head>
    <title>newspage</title>
    <!--Style Sheets!--> 
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="footercss.css">
    <link href="bootstrap.css" rel="stylesheet">
    <script src="bootstrap.js" defer></script>
    
     <!--Google Fonts!-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
    
    
    
    
    
    <!--Libries!-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    
    
    
    <!--Icon Packs!-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    
    </head>
    
    <body>
        <nav>
        
        <div class="favtext">
        <a href="Indexx.html"> <img src="image/Hnet.com-image%20(1).png">
            </a>
            </div>
        <div class="nav-links">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Top News</a></li>
            <li><a href="">Local News</a></li>
            <li><a href="">Foreign News</a></li>
            <li><a href="">Sport News </a></li>
            <li><a href=""><i class="far fa-user"></i> Login/Sign-up </a></li>
        </ul>
		</div>
        </nav>
        <br>
        <br>
        <br>
        
        
        <section class="topnews">
        
        <h1>Sports News</h1>
        <br>
        <section class="mainnew">
           <div class="news-col">
           
           
           <div class="image-cover">
           
           <img src="s3.jpg">
               
               <h3>ARSENAL 0-2 LIVERPOOL: THE REDS THROW THE GAUNTLET DOWN TO PREMIER LEAGUE LEADERS MANCHESTER CITY.</h3>
           
               </div>
           
           <br>
           <p>Liverpool's nine consecutive victories have revived a Premier League title fight that resembled a Manchester City parade in January.

And Liverpool manager Jurgen Klopp's usual triple fist pump after the final whistle might just as easily have been a gauntlet thrown down in front of Manchester City opponent Pep Guardiola after this 2-0 win at Arsenal. <br><br>

First and foremost.

City still holds a one-point advantage over Liverpool, who must visit Etihad Stadium in April, but make no mistake, the Premier League landscape has shifted radically in recent weeks.

Liverpool were still eight points behind City, who had beaten Chelsea the day before, when they beat Brentford 3-0 at Anfield on January 16.

Even after Klopp declared, "It's all over," it was supposed, maybe dangerously, that it was all over "If you're with us, you'll have a great time, and we'll go all out. We are prepared to go as far as we are able."

And now, following a win that has Liverpool breathing down City's neck with nine games remaining, Klopp and his team are going for broke. <br><br>

'A real nail-biter of a conclusion.'
The Carabao Cup has been successfully defended. They will find out the results of the Champions League quarter-final draw on Friday. On Sunday, they face Championship Nottingham Forest in an FA Cup quarter-final, and the title chase is more vibrant than it has been all season. <br><br>

They've gained consistent momentum while City has stumbled, allowing the door to open by drawing at Crystal Palace on Monday and losing at home to Tottenham lately.

Liverpool may not yet be through the door, but there is no doubt that they are giving it a strong push that will be difficult to resist.

By the time City plays their next league game, Liverpool might be at the top of the table. In the Saturday midday encounter at Anfield, Liverpool takes on struggling Watford, Manchester City travels to Burnley, another team fighting for survival. <br><br>

Guardiola's team will be confident of seeing off Liverpool since they have been successful front runners in previous seasons, adept at keeping their nerve when being pursued, most recently by Klopp's side in 2018-19.

Anyone who thinks Liverpool's form will inevitably lead to City's relegation does the reigning champions a disservice, but make no mistake: this is going to be a serious nail-biter of a Premier League finish. <br><br>

Liverpool, as they have demonstrated on numerous occasions this season, can win in a variety of ways due to their all-round excellence. This was the kind of triumph that elevates clubs to the status of possible champions. They weren't at their best, but they stayed in the game because they knew they'd generate quality that would give them a degree of control they couldn't give up. <br><br>

They got through a tough 45 minutes against an Arsenal side that is improving under manager Mikel Arteta, although still being a long way from threatening Liverpool and Manchester City. They still require the kind of ruthless marksmanship Arteta determined Pierre-Emerick Aubameyang would not provide when the two parted ways in January. Arsenal's summer priority must be a striker. <br><br>

Gabriel Martinelli was fantastic, but he lacked a cutting edge, and once Diogo Jota put Liverpool ahead, it was game over, thanks to Arsenal goalkeeper Aaron Ramsdale's awful near-post shot. The formalities were completed by Roberto Firmino's beautiful flick, which narrowed the difference to just that single point. <br><br>

Liverpool's cutting edge is crucial.
Thiago's frustration after playing a backpass straight to Alexandre Lacazette was undoubtedly the crucial moment just moments before Liverpool seized the lead. He fed Martin Odegaard, but Liverpool goalkeeper Alisson maintained his composure, shape, and position to make a save that will be remembered fondly come the end of the season. <br><br>

Liverpool's attacking, defensive, and midfield assets are well-known, but the presence and significance of a world-class goalkeeper should never be overlooked. In the Liverpool dressing room, Alisson deserved praise.

Whereas Arsenal rued their missed opportunity, Liverpool have plenty of cutting edges, as Klopp illustrated in the moments that shifted the game's focus away from the Gunners. <br><br>

Klopp, feeling that Arsenal had the upper hand and that Liverpool needed a spark, summoned Mohamed Salah - who had only been on the bench since suffering a foot injury against Brighton on Saturday - and Firmino to the sidelines.

Jota scored while the instructions were being provided. Many managers may have altered their plans and behaved more cautiously.

Klopp remained unfazed, removing the player who had just scored the winning goal. Firmino then demonstrated the wisdom of his decision by putting Arsenal to the sword. <br><br>

Manchester City is currently in the lead. Liverpool is gaining ground. This is a long-running Premier League rivalry that will last far beyond the current campaign.

For the time being, the last line games are all that matters in the league. Everything's so close that a single draw may determine it, and the encounter on April 10 at Etihad Stadium surely has the potential to do so. <br><br>

Who could predict the eventual conclusion with any certainty? <br><br>


</p>
               <div class="blog-meta">
                                    <p class="adc"><i class="far fa-user"></i>Ben King(Business reporter, BBC News)

                                    <i class="far fa-calendar-alt"></i>  17-Mar-2022 
                                    <i class="far fa-comments"></i>  5 </p>
                                </div>
               <div class="rt-container">
          <div class="col-rt-12">
              <div class="Scriptcontent">
              
<!-- partial:index.partial.html -->
<section id="app">
    <div class="container11">
      <div class="row11">
        <div class="col-6">
          <div class="comment">
        <p v-for="items in item" v-text="items"></p>
          </div><!--End Comment-->
          </div><!--End col -->
          </div><!-- End row -->
      <div class="row">
        <div class="col-6">
            <form method="post" action="">
      <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
          <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
                </form>
        </div><!-- End col -->
      </div><!--End Row -->
    </div><!--End Container -->
  </section><!-- end App -->
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script  src="script.js"></script>
           
    		</div>
		</div>
    </div>

           </div> 
            
            
        </section>
        </section>

        <div class="ms-3 row container-fluid mb-3">
            <div class="col-xxl-3">
                
                <a class="link" href="">
                    
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">HIDILYN DIAZ: FROM ANTI-GOVERNMENT CONSPIRACIES TO HISTORIC OLYMPIC GOLD</p>
                    </div>
                    <img src="s1.jpg" class="card-img-top" alt="...">
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                
                <a class="link" href="">
                    
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">THE NEW GENERATION OF INDIAN FEMALE PARA-ATHLETES IS DRIVING A PARADIGM SHIFT</p>
                    </div>
                    <img src="s2.jpg" class="card-img-top" alt="...">
                    </a>
                    </div>
            </div>
            <div class="col-lg-3">
                <a class="link" href="">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">ENGLAND IN WEST INDIES: JOE ROOT HITS 119 NOT OUT AND DAN LAWRENCE 91 AS TOURISTS TAKE COMMAND</p>
                    </div>
                    <img src="s4.jpg" class="card-img-top" alt="...">
                </a>
                    </div>
            </div>
            
            <div class="col-lg-3">
                <a class="link" href="">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-3 text-center">MAX VERSTAPPEN SAYS FORMULA 1 DOES 'NOT NEED TO HEAL'</p>
                    </div>
                    <img src="s5.jpg" class="card-img-top" alt="...">
                    </a>
                    </div>
            </div>

        </div>



        
        
        
        
        
        <section class="pageswitch">
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="pages.Sp1.html">1</a>
            <a  href="pages.Sp2.html">2</a>
            <a class="active" href="pages.Sp3.html">3</a>
            <a href="pages.Sp4.html">4</a>
            <a href="pages.Sp5.html">5</a>
            <a href="pages.Sp6.html">6</a>
            <a href="pages.Sp7.html">7</a>
            <a href="pages.Sp8.html">8</a>
            <a href="pages.Sp9.html">9</a>
            <a href="pages.Sp10.html">10</a>
            <a href="#">&raquo;</a>
            </div>
            

        </section>
        <br>
        <br>
        <br>
        
        <section class="footer">
    <footer class="footerf">
  	 <div class="containerf">
  	 	<div class="rowf">
  	 		<div class="footer-column">
  	 			<h4>About Us</h4>
  	 			<p>
            All the worlds news to be notified and read in one place. Our mission is to give you the best and true information to read in one place.
          </p>
  	 		</div>
  	 		<div class="footer-column">
  	 			<h4>Quick Links</h4>
  	 			<ul>
  	 				<li><a href="#">Home</a></li>
  	 				<li><a href="#">Top News</a></li>
  	 				<li><a href="#">Local News</a></li>
  	 				<li><a href="#">Foreign News</a></li>
            <li><a href="#">Sports News</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-column">
  	 			<h4>online shop</h4>
  	 			<ul>
  	 				<li><a href="privacypolicy.html">Privacy Policy</a></li>
  	 				<li><a href="Terms.html">Terms of Service </a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-column">
  	 			<h4>follow us</h4>
  	 			<div class="social-links">
  	 				<a href="#"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
  </footer>

    </section>
        
    </body>
</html>
    
